{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- hero section --------------------------------------->
<section class="w-full">
  <div
    class="bg-black w-full h-80 rounded-md grid md:grid-cols-2 gap-4 overflow-hidden"
  >
    <div class="p-6">
      <h1 class="text-white text-4xl font-bold">Finances</h1>
      <p class="mt-4 text-gray-300">
        Les fonctionnalités financières intégrées de Cab Navigator vous offrent
        un contrôle total sur vos finances. Suivez de près les revenus générés
        par votre flotte de taxis, gérez les paiements des chauffeurs et gardez
        une trace précise de toutes les transactions.
      </p>
    </div>
    <img
      class="h-80 w-full object-cover"
      src="{% static 'imgs/coins.jpg' %}"
      alt="vehicle image"
    />
  </div>
</section>
{% if user.role.sec_level == 1 %}
<!--------------------------------------- finamce links --------------------------------------->
<section class="mt-6 flex flex-col md:grid grid-cols-2 gap-6">
  <a
    href="{% url 'v_expenses' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-taxi text-xl group-hover:text-red-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Dépenses de mon véhicule</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'd_expenses' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-user text-xl group-hover:text-sky-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Dépenses personelles</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'payments' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-coins text-xl group-hover:text-yellow-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Recettes de mon véhicule</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'payouts' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-wallet text-xl group-hover:text-green-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Rémunérations</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
</section>
{% elif user.role.sec_level == 2 %}
<!--------------------------------------- finamce links --------------------------------------->
<section class="mt-6 flex flex-col md:grid grid-cols-2 gap-6">
  <a
    href="{% url 'v_expenses' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-taxi text-xl group-hover:text-red-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Dépenses des véhicules</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'payments' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-coins text-xl group-hover:text-yellow-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Recettes des véhicules</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'revenues' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-wallet text-xl group-hover:text-green-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Revenues</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'balancesheet' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i
      class="fa-solid fa-file-invoice-dollar text-xl group-hover:text-sky-400"
    ></i>
    <div class="flex justify-between items-center w-full">
      <p>Situation Financiere</p>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
</section>
<!------------------------------------------------------------------------------ admin links ------------------------------------------------------------------------------>
{% else %}
<!--------------------------------------- expenses links --------------------------------------->
<section class="mt-6 flex flex-col md:grid grid-cols-2 gap-6 lg:grid-cols-3">
  <a
    href="{% url 'd_expenses' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-user text-xl group-hover:text-pink-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Dépenses des chauffeurs</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'v_expenses' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-taxi text-xl group-hover:text-violet-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Dépenses des véhicules</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'g_expenses' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-building text-xl group-hover:text-blue-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Dépenses de la compagnie</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <!--------------------------------------- transactions links --------------------------------------->
  <a
    href="{% url 'transactions' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i
      class="fa-solid fa-money-bill-transfer text-xl group-hover:text-yellow-400"
    ></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Transactions</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'payments' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-coins text-xl group-hover:text-green-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Recettes des véhicules</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'payouts' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-coins text-xl group-hover:text-red-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Rémunérations</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'revenues' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-wallet text-xl group-hover:text-green-400"></i>
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p>Revenues</p>
      </div>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <!--------------------------------------- records links --------------------------------------->
  <a
    href="{% url 'audit' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-file-invoice text-xl group-hover:text-orange-400"></i>
    <div class="flex justify-between items-center w-full">
      <p>Audit</p>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'balancesheet' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i
      class="fa-solid fa-file-invoice-dollar text-xl group-hover:text-sky-400"
    ></i>
    <div class="flex justify-between items-center w-full">
      <p>Situation Financiere</p>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'stats' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-chart-pie text-xl group-hover:text-orange-400"></i>
    <div class="flex justify-between items-center w-full">
      <p>Statistiques</p>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'audit' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-file-lines text-xl group-hover:text-lime-400"></i>
    <div class="flex justify-between items-center w-full">
      <p>Bilan</p>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'audit' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-piggy-bank text-xl group-hover:text-amber-300"></i>
    <div class="flex justify-between items-center w-full">
      <p>Commissions</p>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
</section>
<!--------------------------------------- records links --------------------------------------->
<section class="mt-6 flex flex-col md:grid grid-cols-2 gap-6">
  <a
    href="{% url 'vaults' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-vault text-2xl group-hover:text-amber-300"></i>
    <div class="flex justify-between items-center w-full">
      <p class="text-lg">Tresorerie</p>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
  <a
    href="{% url 'ledgers' %}"
    class="px-6 py-10 w-full bg-black text-white mx-auto flex items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-book text-2xl group-hover:text-amber-300"></i>
    <div class="flex justify-between items-center w-full">
      <p class="text-lg">Grand Livre</p>
      <span>
        <i class="hidden group-hover:inline fa-solid fa-caret-right"></i>
      </span>
    </div>
  </a>
</section>

{% endif %}
<!--  -->
{% endblock %}
