{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- hero section --------------------------------------->
<section class="w-full">
  <div class="bg-black p-6 w-full h-60 rounded-md overflow-hidden">
    <h1 class="text-white text-3xl font-bold">Situation financiere</h1>

    <p class="mt-4 text-gray-200">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda unde
      tempore, voluptas exercitationem dignissimos asperiores qui harum corrupti
      consequuntur ratione.
    </p>
  </div>
</section>

<!--------------------------------------- banlance links --------------------------------------->
<section class="mt-6 md:grid grid-cols-2 gap-6 lg:grid-cols-3">
  <a
    href="{% url 'payments' %}"
    class="p-4 md:p-6 xl:p-8 w-full bg-white mx-auto flex flex-col justify-between items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-arrow-down text-3xl text-green-600"></i>

    <p>Paiements Entrants</p>
    <span class="font-bold text-lg text-black">{{payments}}</span>
    <div class="flex gap-2 xl:gap-4 text-black text-xs xl:text-md">
      <span class="bg-green-50 p-2 rounded-md">Minimum <br> {{min_payment}} CFA</span>
      <span class="bg-green-200 p-2 rounded-md hidden xl:inline"
        >Moyenne <br> {{avg_payment}} CFA</span
      >
      <span class="bg-green-400 p-2 rounded-md"
        >Maximum <br> {{max_payment}} CFA</span
      >
    </div>
    <p class="bg-green-600 p-2 rounded-md w-full text-white font-bold">
      Total {{total_payment}} CFA
    </p>
  </a>
  <a
    href="{% url 'payouts' %}"
    class="p-4 md:p-6 xl:p-8 w-full bg-white mx-auto flex flex-col justify-between items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-arrow-up text-3xl text-red-600"></i>

    <p>Paiements Sortants</p>
    <span class="font-bold text-lg text-black">{{payouts}}</span>
    <div class="flex gap-2 xl:gap-4 text-black text-xs xl:text-md">
      <span class="bg-red-50 p-2 rounded-md">Minimum <br> {{min_payout}} CFA</span>
      <span class="bg-red-200 p-2 rounded-md hidden xl:inline">Moyenne <br> {{avg_payout}} CFA</span>
      <span class="bg-red-400 p-2 rounded-md">Maximum <br> {{max_payout}} CFA</span>
    </div>
    <p class="bg-red-600 p-2 rounded-md w-full text-white font-bold">
      Total {{total_payout}} CFA
    </p>
  </a>
  <a
    href="{% url 'transactions' %}"
    class="p-4 md:p-6 xl:p-8 w-full bg-white mx-auto flex flex-col justify-between items-center gap-4 rounded-md group"
  >
    <i
      class="fa-solid fa-up-right-and-down-left-from-center text-3xl text-blue-600"
    ></i>

    <p>Recapitulatif</p>
    <span class="font-bold text-lg text-black">{{transactions}}</span>
    <div class="flex gap-2 xl:gap-4 text-black xl:text-md">
      <span class="bg-blue-100 p-2 rounded-md"
        >Total Entrées <br> {{total_credit}} CFA</span
      >
      <span class="bg-blue-300 p-2 rounded-md"
        >Total Sorties <br> {{total_debit}} CFA</span
      >
    </div>
    <p class="bg-blue-600 p-2 rounded-md w-full text-white font-bold">
      Solde {{total_balance}} CFA
    </p>
  </a>
</section>

<!--------------------------------------- expenses links --------------------------------------->
<section class="mt-6 md:grid grid-cols-2 gap-6 lg:grid-cols-3">
  <a
    href="{% url 'd_expenses' %}"
    class="p-8 w-full bg-white mx-auto flex justify-between items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-users text-3xl text-black"></i>
    <div>
      <p>Dépenses des conducteurs</p>
      <p>
        Nombre de dépenses :<span class="font-bold text-black ml-2"
          >{{d_expenses}}</span
        >
      </p>
      <p>
        Total des dépenses :<span class="font-bold text-black ml-2"
          >{{total_d_expenses}}</span
        >
      </p>
    </div>
  </a>
  <a
    href="{% url 'v_expenses' %}"
    class="p-8 w-full bg-white mx-auto flex justify-between items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-taxi text-3xl text-black"></i>
    <div>
      <p>Dépenses des vehicules</p>
      <p>
        Nombre de dépenses :<span class="font-bold text-black ml-2"
          >{{v_expenses}}</span
        >
      </p>
      <p>
        Total des dépenses :<span class="font-bold text-black ml-2"
          >{{total_d_expenses}}</span
        >
      </p>
    </div>
  </a>
  <a
    href="{% url 'g_expenses' %}"
    class="p-8 w-full bg-white mx-auto flex justify-between items-center gap-4 rounded-md group"
  >
    <i class="fa-solid fa-landmark text-3xl text-black"></i>
    <div>
      <p>Dépenses de la compagnie</p>
      <p>
        Nombre de dépenses :<span class="font-bold text-black ml-2"
          >{{g_expenses}}</span
        >
      </p>
      <p>
        Total des dépenses :<span class="font-bold text-black ml-2"
          >{{total_d_expenses}}</span
        >
      </p>
    </div>
  </a>
</section>
{% endblock %}
