{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto min-h-screen">
  <!--------------------------------------- mini navbar --------------------------------------->

  <nav
    class="mx-auto my-4 py-2 flex flex-col md:flex-row justify-between items-center gap-2 items-center text-xs w-full max-w-[1350px]"
  >
    <!--------------------------------------- search form --------------------------------------->
    {% if user.role.sec_level >= 1 %}
    <a
      href="{% url 'create_ledger' %}"
      class="px-4 py-2 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
      >Ajouter une transaction<i class="fa-solid fa-plus ml-4"></i
    ></a>
    {% endif %}

    <form
      id="search_box"
      class="w-[400px] max-w-xl flex flex-row justify-between"
    >
      <input
        type="text"
        name="query"
        id="querier"
        required
        class="px-4 py-2 bg-white text-black w-full rounded-l-md outline-none"
        placeholder="Recherchez..."
      />
      <button
        class="group px-4 py-2 text-sm bg-black hover:bg-amber-300 text-white hover:text-black rounded-r-md transition duration-300 ease-in-out"
        type="submit"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </nav>

  <!--------------------------------------- vehicle ledger --------------------------------------->
  <section class="w-full mx-auto my-8">
    {% if not ledgers %}

    <!--------------------------------------- No data placeholder --------------------------------------->
    <div
      class="p-8 my-40 bg-gray-100 max-w-[400px] mx-auto rounded-md flex-col text-center"
    >
      <i class="fa-regular fa-folder-open text-7xl"></i>
      <p class="mt-4">Aucune données disponible pour le moment</p>
    </div>

    {% else %}
    <!--------------------------------------- ledgers --------------------------------------->
    <div class="flex flex-col gap-4">
      {% for obj in ledgers %}
      <a href="{% url 'ledger' obj.id  %}">
        <div
          class="p-4 flex flex-col md:flex-row justify-between items-center bg-white rounded-md overflow-hidden"
        >
          <h4>{{obj.vehicle.make}} {{obj.vehicle.model}}</h4>

          <tt class="mt-2 text-sm font-bold">-{{obj.vehicle.plate_number}}-</tt>
          <h4 class="text-red-600 text-md font-bold">
            <i class="fa-solid fa-arrow-up mr-2"></i>{{obj.debit}} CFA
          </h4>
          <h4 class="text-green-600 text-md font-bold">
            <i class="fa-solid fa-arrow-down mr-2"></i>{{obj.credit}} CFA
          </h4>
          <p class="text-sm">{{obj.details|truncatechars:50}}</p>
          <p class="text-sm">{{obj.date}}</p>
          {% if obj.is_audited %}
          <h4
            class="top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
          >
            Audité
          </h4>
          {% else %}
          <h4
            class="top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
          >
            Non-audité
          </h4>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
    {% endif %}
  </section>
</div>

{% endblock %}
