{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->

<nav
  class="tabbar mx-auto mb-4 p-1 bg-black rounded-md flex justify-between gap-1 w-full text-sm"
>
  <!--------------------------------------- tab buttons --------------------------------------->
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'd_docs')"
    id="defaulttab"
  >
    <i class="fa-solid fa-user lg:mr-2"></i>
    <span class="hidden xl:inline"> Documents des conducteurs </span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'v_docs')"
  >
    <i class="fa-solid fa-car lg:mr-2"></i>
    <span class="hidden xl:inline"> Documents des vehicules </span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'p_docs')"
  >
    <i class="fa-solid fa-user-tie lg:mr-2"></i>
    <span class="hidden xl:inline"> Documents des partenaires </span>
  </button>
</nav>

<!--------------------------------------- driver documents --------------------------------------->
<section id="d_docs" class="tabcontent w-full">
  <div class="flex items-center justify-between">
    {% if user.role.sec_level != 2 %}
    <a
      href="{% url 'create_ddoc' %}"
      class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
      >Nouveau document<i class="fa-solid fa-plus ml-4"></i
    ></a>
    {% endif %}
    <a
      href="{% url 'driver_docs' %}"
      class="px-4 py-3 text-black font-bold text-xs hover:bg-white rounded-md items-center transition duration-300 ease-in-out"
      >Voir<i class="fa-solid fa-plus ml-4"></i
    ></a>
  </div>
  <div class="w-full mx-auto my-4">
    {% if not d_docs %}

    <!--------------------------------------- No data placeholder --------------------------------------->
    <div
      class="p-8 my-40 bg-gray-100 max-w-[400px] mx-auto rounded-md flex-col text-center"
    >
      <i class="fa-regular fa-folder-open text-7xl"></i>
      <p class="mt-4">Aucune données disponible pour le moment</p>
    </div>

    {% else %}
    <!--------------------------------------- d_docs --------------------------------------->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
    >
      {% for obj in d_docs %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_valid %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Valid
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Invalid
        </span>
        {% endif %}
        <a href="{% url 'driver_doc' obj.id  %}">
          {% if not obj.image %}
          <img
            class="h-20 w-full object-cover"
            src="{% static 'imgs/docs.jpg' %}"
            alt="d_doc image"
          />
          {% else %}
          <img
            class="h-20 w-full object-cover"
            src="{{obj.image.url}}"
            alt="d_doc image"
          />
          {% endif %}
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.driver.user.first_name}}
            </h4>
            <p class="pt-2 text-sm">{{obj.type.name}}</p>
            <p class="pt-2 text-sm">
              {{obj.issue_date.date}} - {{obj.expiry_date.date}}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- vehicle documents --------------------------------------->
<section id="v_docs" class="tabcontent w-full">
  <div class="flex items-center justify-between">
    {% if user.role.sec_level >= 1 %}
    <a
      href="{% url 'create_vdoc' %}"
      class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
      >Nouveau document<i class="fa-solid fa-plus ml-4"></i
    ></a>
    {% endif %}
    <a
      href="{% url 'vehicle_docs' %}"
      class="px-4 py-3 text-black font-bold text-xs hover:bg-white rounded-md items-center transition duration-300 ease-in-out"
      >Voir<i class="fa-solid fa-plus ml-4"></i
    ></a>
  </div>
  <div class="w-full mx-auto my-4">
    {% if not v_docs %}

    <!--------------------------------------- No data placeholder --------------------------------------->
    <div
      class="p-8 my-40 bg-gray-100 max-w-[400px] mx-auto rounded-md flex-col text-center"
    >
      <i class="fa-regular fa-folder-open text-7xl"></i>
      <p class="mt-4">Aucune données disponible pour le moment</p>
    </div>

    {% else %}
    <!--------------------------------------- v_docs --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {% for obj in v_docs %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_valid %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Valid
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Invalid
        </span>
        {% endif %}
        <a href="{% url 'vehicle_doc' obj.id  %}">
          {% if not obj.image %}
          <img
            class="h-20 w-full object-cover"
            src="{% static 'imgs/docs.jpg' %}"
            alt="v_docs image"
          />
          {% else %}
          <img
            class="h-20 w-full object-cover"
            src="{{obj.image.url}}"
            alt="v_docs image"
          />
          {% endif %}
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.vehicle.make}} {{obj.vehicle.model}}
              [-{{obj.vehicle.plate_number}}-]
            </h4>
            <p class="pt-2 text-sm">{{obj.type.name}}</p>
            <p class="pt-2 text-sm">
              {{obj.issue_date.date}} - {{obj.expiry_date.date}}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- partner documents --------------------------------------->
<section id="p_docs" class="tabcontent w-full">
  <div class="flex items-center justify-between">
    {% if user.role.sec_level > 2 %}
    <a
      href="{% url 'create_pdoc' %}"
      class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
      >Nouveau document<i class="fa-solid fa-plus ml-4"></i
    ></a>
    {% endif %}
    <a
      href="{% url 'partner_docs' %}"
      class="px-4 py-3 text-black font-bold text-xs hover:bg-white rounded-md items-center transition duration-300 ease-in-out"
      >Voir<i class="fa-solid fa-plus ml-4"></i
    ></a>
  </div>
  <div class="w-full mx-auto my-4">
    {% if not d_docs %}

    <!--------------------------------------- No data placeholder --------------------------------------->
    <div
      class="p-8 my-40 bg-gray-100 max-w-[400px] mx-auto rounded-md flex-col text-center"
    >
      <i class="fa-regular fa-folder-open text-7xl"></i>
      <p class="mt-4">Aucune données disponible pour le moment</p>
    </div>

    {% else %}
    <!--------------------------------------- d_docs --------------------------------------->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
    >
      {% for obj in p_docs %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_valid %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Valid
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Invalid
        </span>
        {% endif %}
        <a href="{% url 'partner_doc' obj.id  %}">
          {% if not obj.image %}
          <img
            class="h-20 w-full object-cover"
            src="{% static 'imgs/docs.jpg' %}"
            alt="documents image"
          />
          {% else %}
          <img
            class="h-20 w-full object-cover"
            src="{{obj.image.url}}"
            alt="documents image"
          />
          {% endif %}
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">{{obj.type.name}}</h4>
            <p class="pt-2 text-sm">
              {{obj.partner.last_name}} {{obj.partner.first_name}}
            </p>
            <p class="pt-2 text-sm">{{obj.date_posted.date}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
<script>
  document.getElementById("defaulttab").click();
function openTab(event, tabName) {
  var i, content, button;
  content = document.getElementsByClassName("tabcontent");
  for (i = 0; i < content.length; i++) {
    content[i].style.display = "none";
  }
  button = document.getElementsByClassName("tabbutton");
  for (i = 0; i < button.length; i++) {
    button[i].className = button[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  event.currentTarget.className += " active";
}
</script>
{% endblock %}
