{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->
<nav
  class="mx-auto flex items-center gap-2 items-center text-xs w-full max-w-[1350px]"
>
  <a
    href="{{request.META.HTTP_REFERER}}"
    class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
</nav>

<div class="my-4 p-6 bg-white rounded-md">
  {% if profile %}
  <h1 class="mb-2 text-black text-xl font-bold">
    Profile de {{profile.last_name}} {{profile.first_name}}
  </h1>
  {% else %}
  <h1 class="mb-4 text-black text-xl font-bold">
    Ajouter un nouvel utilisateur
  </h1>
  {% endif %}
  <div class="flex flex-col lg:flex-row gap-4 justify-between items-start">
    <!--  -->
    {% if form %}
    <form
      class="p-4 w-full h-full rounded-md text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      <div class="grid grid-cols-1 xl:grid-cols-2 gap-4">
        {% csrf_token %}
        <!--  -->
        {% for field in form %}
        <div>
          <h3 class="mb-1">{{field.label}}</h3>
          {{field}}
        </div>
        {% endfor %}
      </div>

      <div class="mt-4 flex gap-4 items-center">
        <input
          class="px-8 py-2 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-200 px-8 py-2 rounded-md hover:bg-red-700 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
        {% if user.is_superuser and profile %}
        <a
          class="px-4 py-2 bg-black rounded-md hover:bg-red-700 text-white"
          id="delete_btn"
          onclick="return confirm('Voulez vous supprimer le compte de cet utilisateur?')"
          href="{% url 'delete_user' profile.id  %}"
          >Supprimer ce compte<i
            class="ml-2 fa-solid fa-trash hover:text-red-700"
          ></i
        ></a>
        {% endif %}
      </div>
    </form>
    {% endif %} {% if profile %}
    <div class="flex flex-col h-full rounded-md overflow-hidden">
      {% if not profile.image %}
      <img
        class="h-[300px] w-full object-cover"
        src="{% static 'imgs/anon.png' %}"
        alt="profile"
      />
      {% else %}
      <img
        class="h-[300px] w-full object-cover"
        src="{{profile.image.url}}"
        alt="profile"
      />
      {% endif %}
      <div
        class="bg-black h-full font-bold text-white flex flex-col text justify-between p-4"
      >
        <p>
          <span>{{profile.last_name|title}} {{profile.first_name|title}} </span>
        </p>
        <p>
          <span>{{profile.email}}</span>
        </p>
        <p>
          <span>{{profile.phone}}</span>
        </p>
        <p>
          <span>{{profile.role|title}}</span>
        </p>
      </div>
    </div>
    {% else %}
    <img
      class="h-[400px] w-full object-cover rounded-md"
      src="{% static 'imgs/user.jpg' %}"
      alt="profile"
    />
    {% endif %}
  </div>

  {% endblock %}
</div>
