{% load static %}
<script src="{% static 'messenger.js' %}" defer="true"></script>
<!--  -->
<section
  class="relative flex flex-col h-[calc(100vh-30px)] md:h-full w-full border md:border-none rounded-lg"
>
  <!------------------ responder info ------------------->
  <div
    class="absolute top-0 left-0 rounded-tl-lg rounded-br-lg w-fit px-4 py-2 flex justify-between items-center bg-purple-950 text-white"
  >
    <div class="flex items-center">
      {% if not other_user.profile.image %}
      <img
        class="h-5 w-5 lg:h-8 lg:w-8 rounded-full object-cover"
        src="{% static 'imgs/anon.png' %}"
        alt="welcome image"
      />
      {% else %}
      <img
        class="h-5 w-5 lg:h-8 lg:w-8 rounded-full object-cover"
        src="{{other_user.profile.image.url}}"
        alt="welcome image"
      />
      {% endif %}
      <span class="ml-2">
        {{other_user.last_name}} {{other_user.first_name}}
      </span>
    </div>
  </div>
  <!-- <div class="mx-2 bg-white w-full">
  </div> -->

  <!------------------ chat messages ------------------->
  <div id="convo_box" class="py-14 h-full w-full overflow-auto">
    <table class="h-full w-full">
      <tbody id="chat_box_{{curr_thread.id}}" class="text-sm mx-4 flex flex-col gap-4">
        {% for obj in messages %} {% if obj.sender == other_user %}

        <tr class="max-h-16">
          <td
            class="px-4 py-2 bg-amber-200 text-black text-left rounded-lg flex flex-col max-w-md float-left"
          >
            <p>{{obj.message}}</p>
            <small class="text-xs text-gray-500">
              {{ obj.timestamp.time }}
            </small>
          </td>
        </tr>

        {% else %}
        <tr class="max-h-16">
          <td
            class="mr-2 px-4 py-2 bg-purple-200 text-black text-right rounded-lg flex flex-col max-w-md float-right"
          >
            <p>{{obj.message}}</p>
            <small class="text-xs text-gray-500">
              {{ obj.timestamp.time }}
            </small>
          </td>
        </tr>

        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>

  <!------------------ chat form ------------------->
  <div class="absolute w-full bottom-0">
    <form
      id="chat_form_{{curr_thread.id}}"
      hx-post="false"
      class="w-[95%] mx-auto flex flex-row justify-between gap-2"
    >
      {% csrf_token %}
      <input
        type="text"
        name="message"
        id="chat_input"
        required
        class="px-4 py-2 rounded-t-md bg-gray-100 text-sm text-black w-full focus:border-none focus:outline-none focus:bg-white focus:ring-1 focus:ring-purple-400"
        placeholder="Ecrivez votre message..."
      />
      <button
        class="group px-4 py-3 text-sm bg-purple-950 hover:bg-purple-200 text-white rounded-t-md"
        type="submit"
      >
        <i class="px-2 fa-solid fa-paper-plane group-hover:text-black"></i>
      </button>
    </form>
  </div>

  <button
    class="absolute bottom-14 right-2 px-3 py-2 rounded-md hover:bg-purple-950 text-black text-xs hover:text-white"
    onclick="scrollToBottom()"
  >
    <i class="fa-solid fa-arrow-down"></i>
  </button>
</section>
{{ curr_thread.id|json_script:"thread_id" }}
<!--  -->
{{ other_user.id|json_script:"other_user_id" }}
<!--  -->
{{ request.user.id|json_script:"curr_user_id" }}
<script>
  scrollToBottom();
</script>
