{% load static %}

<!--  mobile view -->

<div
  class="md:hidden relative md:flex flex-col border bg-white focus:border-purple-950 hover:border-purple-400 hover:shadow-md w-full rounded-lg transition duration-300 ease-in-out overflow-hidden"
>
  <!-- user status indicator -->
  <div class="absolute bottom-2 right-4 text-xs underlayer">
    {% include 'accounts/components/user_status_badge.html' %}
  </div>

  <!-- card info -->

  <article class="p-4 md:text-sm lg:text-md flex flex-col justify-between">
    <h4 class="text-black font-bold">{{obj.last_name}} {{obj.first_name}}</h4>
    <div class="flex items-start justify-between">
      <span class="font-light text-purple-700">@{{obj.username}}</span>
      <button
        onclick="toggleAccordion('{{obj.id}}')"
        hx-get="{% url 'user' obj.id %}"
        hx-target=".user_details{{obj.id}}"
        class="px-3 py-1 bg-purple-50 hover:bg-purple-100 rounded-md hover:text-black"
      >
        <i id="shower{{obj.id}}" class="fa-solid fa-caret-down"></i>
        <i id="hider{{obj.id}}" class="hidden fa-solid fa-caret-up"></i>
      </button>
    </div>
    <small class="mb-4 lg:mb-0 text:xs lg:text-sm text-gray-400"
      >{{obj.role}}</small
    >
  </article>
</div>
<!-- htmx injects current object details into the accordion -->
<div
  class="user_details{{obj.id}} accordion active_accordion{{obj.id}} hidden mx-2 p-3 sm:p-4 border bg-gray-50 rounded-xl md:overflow-y-auto"
>
     <i class="fa-solid fa-user-alt text-gray-300 text-9xl"></i>
    <p class="mt-4 px-4 py-2 w-fit mx-auto bg-gray-100 text-sm rounded-xl">
      Cliquez sur un utilisateur pour voir ses details.
    </p>
</div>

<script>
  function toggleAccordion(div_id) {
    var active_accordion = document.querySelector(`.active_accordion${div_id}`);
    var shower = document.getElementById(`shower${div_id}`);
    var hider = document.getElementById(`hider${div_id}`);
    console.log(div_id);

    if (active_accordion.classList.contains("hidden")) {
      shower.classList.add("hidden");
      hider.classList.remove("hidden");
      for (let element of document.getElementsByClassName("accordion")) {
        element.classList.remove("block");
        element.classList.add("hidden");
      }
      active_accordion.classList.remove("hidden");
      active_accordion.classList.add("block");
    } else {
      shower.classList.remove("hidden");
      hider.classList.add("hidden");
      for (let element of document.getElementsByClassName("accordion")) {
        element.classList.remove("block");
        element.classList.add("hidden");
      }
      active_accordion.classList.remove("block");
      active_accordion.classList.add("hidden");
    }
  }

  let unclickables = document.getElementsByClassName("unclickable");
  for (let element of unclickables) {
    element.addEventListener("click", (e) => {
      e.preventDefault();
    });
  }
</script>
