{% load static %}
<div
  class="bg-black text-white w-[60px] md:w-20 p-2 md:p-4 lg:w-[200px] xl:w-[300px] h-screen fixed overflow-y-auto"
>
  <a class="lg: mb-4 flex items-center" href="{% url 'home' %}">
    <img
      class="h-6 mx-auto lg:hidden"
      src="{% static 'imgs/logo.png' %}"
      alt="logo"
    />
    <img
      class="hidden lg:inline lg:h-10 mx-auto lg:mx-0 lg:mr-2"
      src="{% static 'imgs/logo-w.png' %}"
      alt="logo"
    />
    <!-- <h1 class="hidden lg:inline text-xl font-black">Cabnavigator</h1> -->
  </a>
  <ul class="flex flex-col mx-auto items-center lg:items-start">
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{home_page}}"
      href="{% url 'home' %}"
    >
      <i class="fa-solid fa-house text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">Accueil </span>
    </a>
    {% if user.role.sec_level >= 3 %}
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{drivers_page}}"
      href="{% url 'drivers' %}"
    >
      <i class="fa-solid fa-user text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">Conducteurs </span>
    </a>
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{partners_page}}"
      href="{% url 'partners' %}"
    >
      <i class="fa-solid fa-user-tie text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">Partenaires </span>
    </a>
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{vehicles_page}}"
      href="{% url 'vehicles' %}"
    >
      <i class="fa-solid fa-taxi text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">Vehicules</span>
    </a>

    {% endif %}
    <!--  -->
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{incidents_page}}"
      href="{% url 'incidents' %}"
    >
      <i class="fa-solid fa-triangle-exclamation text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">Incidents </span>
    </a>

    {% if user.role.sec_level == 1 %}
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{vehicles_page}}"
      href="{% url 'my_vehicle' %}"
    >
      <i class="fa-solid fa-taxi text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">Vehicule</span>
    </a>
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{documents_page}}"
      href="{% url 'driver_docs' %}"
    >
      <i class="fa-solid fa-folder text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">Documents</span>
    </a>
    {% elif user.role.sec_level == 2 %}
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{vehicles_page}}"
      href="{% url 'vehicles' %}"
    >
      <i class="fa-solid fa-taxi text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">Vehicules </span>
    </a>
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{documents_page}}"
      href="{% url 'partner_docs' %}"
    >
      <i class="fa-solid fa-folder text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">Documents</span>
    </a>
    {% endif %}

    <!--  -->
    {% if user.role.sec_level >= 3 %}
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{documents_page}}"
      href="{% url 'documents' %}"
    >
      <i class="fa-solid fa-folder text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base"> Documents </span>
    </a>
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{expenses_page}}"
      href="{% url 'expenses' %}"
    >
      <i class="fa-solid fa-money-bill-transfer text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base"> Dépenses </span>
    </a>
    {% endif %}
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full  {{finance_page}}"
      href="{% url 'finances' %}"
    >
      <i class="fa-solid fa-coins lg:text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base"> Finances </span>
    </a>
    <!--  -->
    {% if user.role.sec_level >= 3 %}
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full  {{vaults_page}}"
      href="{% url 'vaults' %}"
      ><i class="fa-solid fa-vault text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base"> Tresororie </span>
    </a>
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full  {{users_page}}"
      href="{% url 'users' %}"
      ><i class="fa-solid fa-users text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">
        Utilisateurs
      </span>
    </a>
    {% endif %}
    <!--  -->
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{chats_page}}"
      href="{% url 'chats' %}"
    >
      <i class="fa-solid fa-comments text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base"> Messagerie </span>
    </a>
    <a
      class="relative mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{notifications_page}}"
      href="{% url 'notifications' %}"
    >
      <i class="text-sm fa-solid fa-bell text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">
        Notifications
      </span>
      {% if notifications %}
      <span
        id="notifier"
        class="absolute top-2 right-2 h-2 w-2 rounded-full bg-amber-500 animate-pulse"
      >
        <tt id="count_badge"></tt>
      </span>
      {% endif %}
    </a>
    <a
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full {{tips_page}}"
      href="{% url 'tips' %}"
    >
      <i class="fa-solid fa-video text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">
        Conseil & Astuces
      </span>
    </a>
    <!--  -->
    {% if user.is_superuser %}
    <a
     target="_blank"
      class="mb-2 lg:px-3 py-2 text-center lg:text-left rounded-md hover:bg-white hover:text-black transition ease-in duration-200 w-full"
      href="{% url 'admin:index' %}"
      ><i class="fa-solid fa-lock text-sm lg:mr-2"></i>
      <span class="hidden lg:inline lg:text-xs xl:text-base">
        Admin Dashboard
      </span>
    </a>
    {% endif %}

    <div
      class="px-1 py-2 lg:p-2 bg-white flex flex-col lg:flex-row items-center gap-1 lg:gap-2 mb-2 sm:text-sm lg:text-md rounded-md cursor-pointer w-full"
    >
      {% if not user.image %}
      <img
        class="hidden lg:inline h-10 w-10 rounded-full object-cover"
        src="{% static 'imgs/anon.png' %}"
        alt="user image"
      />
      {% else %}
      <img
        class="hidden lg:block h-10 w-10 rounded-full object-cover"
        src="{{user.image.url}}"
        alt="user image"
      />
      {% endif %}
      <div class="hidden lg:block w-full">
        <p class="text-white font-bold">{{user.get_short_name}}</p>
        <p class="text-black">@{{user.username}}</p>
      </div>
      <!-- dropdown menu -->
      <div class="relative">
        <button
          type="button"
          class=""
          name="dropdownBtn"
          id="dropdownBtn"
          aria-expanded="false"
          aria-haspopup="true"
          onclick="toggleDropdown(this)"
        >
          <i
            class="fa-sharp fa-solid fa-caret-down text-black bg-white hover:bg-gray-200 py-2 px-3 rounded-md"
          ></i>
        </button>

        <div
          class="mb-4 w-full lg:p-2 hidden absolute right-0 top-10 origin-top-left bg-white z-30 rounded-md lg:w-40 flex flex-col gap-2 items-center overflow-hidden"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
          tabindex="-1"
          id="dropdownMenu"
        >
          <a
            href="{% url 'user_profile' user.id  %}"
            class="p-2 flex items-center mx-auto text-black hover:bg-amber-300 lg:rounded-md w-full"
          >
            <i class="fa-solid fa-user text-sm mx-auto lg:mx-0 lg:mr-2"></i>
            <span class="hidden lg:inline lg:text-xs xl:text-base"
              >Mon Profile</span
            >
          </a>
          {% if user.role.sec_level >= 3 %}
          <a
            href="{% url 'users' %}"
            class="p-2 flex items-center mx-auto text-black hover:bg-amber-300 lg:rounded-md w-full"
          >
            <i class="fa-solid fa-users text-sm mx-auto lg:mx-0 lg:mr-2"></i>
            <span class="hidden lg:inline lg:text-xs xl:text-base"
              >Utilisateurs</span
            >
          </a>
          <a
            href="{% url 'parameters' %}"
            class="p-2 flex items-center mx-auto text-black hover:bg-amber-300 lg:rounded-md w-full"
          >
            <i class="fa-solid fa-gear text-sm mx-auto lg:mx-0 lg:mr-2"></i>
            <span class="hidden lg:inline lg:text-xs xl:text-base"
              >Parametres</span
            >
          </a>
          {% endif %}
          <a
            href="{% url 'logout' %}"
            class="p-2 flex items-center mx-auto text-red-700 hover:bg-red-700 hover:text-white lg:rounded-md w-full"
          >
            <i
              class="fa-solid fa-right-from-bracket text-sm mx-auto lg:mx-0 lg:mr-2"
            ></i>
            <span class="hidden lg:inline lg:text-xs xl:text-base"
              >Deconnexion</span
            >
          </a>
        </div>
      </div>
    </div>
  </ul>
</div>
