<form id="search_box" class="w-full max-w-sm flex flex-row justify-between">
  <input
    type="text"
    name="query"
    id="querier"
    required
    class="px-4 py-2 bg-white text-black w-full rounded-l-md outline-none"
    placeholder="Recherchez..."
  />
  <button
    class="group px-4 py-2 text-sm bg-black hover:bg-amber-300 text-white hover:text-black rounded-r-md transition duration-300 ease-in-out"
    type="submit"
  >
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</form>
