{% load static %}

<!-- ---------------------------threads and contacts sidebar--------------------------------->
<section
  class="hidden md:block contacts bg-black p-4 flex flex-col md:w-[200px] lg:w-[300px] xl:w-[400px] overflow-auto h-screen fixed right-0"
>
  <form id="search_box" class="w-full max-w-xl flex flex-row justify-between">
    <input
      type="text"
      name="query"
      id="querier"
      required
      class="px-4 py-2 bg-white text-black w-full rounded-l-md outline-none"
      placeholder="Recherchez..."
    />
    <button
      class="group px-4 py-2 text-sm bg-black hover:bg-amber-200 text-white hover:text-black rounded-r-md transition duration-300 ease-in-out"
      type="submit"
    >
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
  <!-- ---------------------------tab navs--------------------------------->

  <div class="customtab py-3 flex justify-between gap-2 w-full text-sm">
    <button
      class="tablinks px-4 py-2 bg-white hover:bg-black hover:text-white rounded-md w-full"
      onclick="openTab(event, 'messages')"
      id="defaultOpen"
    >
      <i class="fa-solid fa-comments lg:mr-2"></i>
      <span class="hidden xl:inline"> Messages </span>
    </button>
    <button
      class="tablinks px-4 py-2 bg-white hover:bg-black hover:text-white rounded-md w-full"
      onclick="openTab(event, 'contacts')"
    >
      <i class="fa-solid fa-address-book lg:mr-2"></i>
      <span class="hidden xl:inline"> Contacts </span>
    </button>
    <!-- <button
        class="tablinks px-4 py-2 bg-white hover:bg-black hover:text-white rounded-md"
        onclick="openTab(event, 'groups')"
      >
        <i class="fa-solid fa-people-group"></i>
        <span class="hidden xl:block"> Groupes </span>
      </button> -->
  </div>

  <!-- ---------------------------tab contents--------------------------------->

  <div>
    <!-- messages or threads  -->

    <div id="messages" class="tabcontent">
      {% include 'components/thread_list.html' %}
    </div>

    <!-- contacts  -->

    <div id="contacts" class="tabcontent">
      {% for obj in contacts %}
      <a href="{% url 'chat_page' obj.id %}">
        <li
          class="p-2 {% if user.id == i.id %} hidden {% else %} flex flex-row items-center gap-2 mb-2 bg-white sm:text-sm lg:text-md rounded-md cursor-pointer {% endif %}"
          chat-id="chat_{active_thread.id}"
        >
          {% if not obj.image %}
          <img
            class="h-5 w-5 lg:h-8 lg:w-8 rounded-full object-cover"
            src="{% static 'imgs/random.png' %}"
            alt="welcome image"
          />
          {% else %}
          <img
            class="h-5 w-5 lg:h-8 lg:w-8 rounded-full object-cover"
            src="{{obj.image.url}}"
            alt="welcome image"
          />
          {% endif %}
          <div class="w-full text-xs lg:text-base">
            <p class="text-black font-bold">
              {{obj.last_name}} {{obj.first_name}}
            </p>
            <p>@{{obj.username|truncatechars:15}}</p>
            <!-- <span
                class="bg-amber-200 mt-2 px-2 py-[2px] rounded-full text-[8px] lg:text-base"
              >
                {{obj.role.name|truncatechars:15}}
              </span> -->
          </div>
        </li>
      </a>
      {% endfor %}
    </div>

    <!-- groups  -->

    <!-- <div id="groups" class="tabcontent">
        <h3>Groupes</h3>
        <p>Auncun groupe disponible.</p>
      </div> -->
  </div>
</section>

<script>
  function openTab(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
