{% load static %}
{% load get_unread_msgs from chats_tags %}
<!-- tablet/ PC view -->
{% if msg_obj %}
<div
{% if obj.initiator == user %}
hx-get="{% url 'thread' obj.responder.id %}"
{% else %}
hx-get="{% url 'thread' obj.initiator.id %}"
{% endif %}
hx-target="#chats_base"
hx-swap="outerHTML"
hx-click="delayedUpdateThreads()"
  class="thread_card px-2 py-3 cursor-pointer relative flex items-center gap-2 bg-white border hover:border-purple-400 hover:shadow-md w-full rounded-lg transition duration-300 ease-in-out"
>
  <small class="absolute top-2 right-2 text-gray-400 text-xs">
    {% if msg_obj.timestamp|date:"Y-m-d" == now|date:"Y-m-d" %}
        {{ msg_obj.timestamp|time:"H:i" }}
    {% else %}
        {{ msg_obj.timestamp.time }}
    {% endif %}
  </small>
  
  {% with unread_count=msg_obj.thread.id|get_unread_msgs %}
  <!--  -->
  {% if user != msg_obj.sender and not msg_obj.is_read %}
  <small
  class="absolute px-[.7em] py-[0.2em] bottom-2 right-2 bg-purple-500 text-white text-xs rounded-full"
  >{{ unread_count }}</small>
  {% endif %}
  <!--  -->
  {% endwith %}
  <!--  -->
  {% if other_user.profile.is_online %}
  <span class="absolute h-3 w-3 bottom-2 left-10 bg-purple-500 border-2 border-white rounded-full"></span>
  {% endif %}
  <img
    class="w-12 h-12 rounded-full object-cover"
    src="{% static 'imgs/anon.png' %}"
    alt="Rounded avatar"
  />
  <article class="w-full text-sm flex flex-col justify-between">

    <h4 class="text-black font-bold">
      {{other_user.last_name}} {{other_user.first_name}}
    </h4>

    <p class=" text-xs text-gray-600 font-light">
      {% if user == msg_obj.sender %}
      <span class="text-gray-300">
        {% if msg_obj.is_read %}
        <i class="fa-solid fa-check-double text-purple-500"></i>
        {% else %}
        <i class="fa-solid fa-check"></i>
        {% endif %}
      </span>
      {% endif %}
      {{msg_obj.message}}
    </p>
  </article>
</div>
  {% endif %}

  <script>
    function delayedUpdateThreads() {
  setTimeout(updateThreads, 1000); // Delay execution by 1000 milliseconds (1 second)
}
  </script>