{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto min-h-screen">
  <!--------------------------------------- mini navbar --------------------------------------->

  <nav
    class="mx-auto mt-4 py-2 flex justify-between items-center gap-2 items-center text-xs w-full max-w-[1350px]"
  >
    {% if user.role.sec_level >= 1 or is_v_docs == True %}
    <a
      href="{% url 'create_document' %}"
      class="px-4 py-2 bg-gray-800 text-white hover:bg-amber-200 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      >Ajouter un Document<i class="fa-solid fa-plus ml-4"></i
    ></a>
    {% endif %}

    <form
      id="search_box"
      class="w-[400px] max-w-xl flex flex-row justify-between"
    >
      <input
        type="text"
        name="query"
        id="querier"
        required
        class="px-4 py-2 bg-white text-black w-full rounded-l-md outline-none"
        placeholder="Recherchez..."
      />
      <button
        class="group px-4 py-2 text-sm bg-gray-800 hover:bg-amber-200 text-white hover:text-black rounded-r-md transition duration-300 ease-in-out"
        type="submit"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </nav>
  <!--------------------------------------- tab buttons --------------------------------------->

  <div class="customtab py-3 flex justify-between gap-8 w-full text-xs">
    <button
      class="tablinks px-4 py-2 bg-white hover:bg-gray-800 hover:text-white rounded-md w-full"
      onclick="openTab(event, 'd_docs')"
      id="defaultOpen"
    >
      <i class="fa-solid fa-user md:text-lg"></i>
      <span class="hidden xl:block"> Document des conducteurs </span>
    </button>
    <button
      class="tablinks px-4 py-2 bg-white hover:bg-gray-800 hover:text-white rounded-md w-full"
      onclick="openTab(event, 'v_docs')"
    >
      <i class="fa-solid fa-car md:text-lg"></i>
      <span class="hidden xl:block"> Document des vehicules </span>
    </button>
  </div>

  <!--------------------------------------- driver documents --------------------------------------->
  <section id="d_docs" class="tabcontent py-4 w-full text-left">
    <div class="w-full mx-auto">
      {% if not d_docs %}

      <!--------------------------------------- No data placeholder --------------------------------------->
      <div
        class="p-8 my-40 bg-gray-100 max-w-[400px] mx-auto rounded-md flex-col text-center"
      >
        <i class="fa-regular fa-folder-open text-7xl"></i>
        <p class="mt-4">Aucune données disponible pour le moment</p>
      </div>

      {% else %}
      <!--------------------------------------- d_docs --------------------------------------->
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-8"
      >
        {% for obj in d_docs %}
        <div
          class="flex flex-col border border-2 hover:border-gray-800 bg-white hover:shadow-md rounded-md transition duration-300 ease-in-out overflow-hidden"
        >
          <a href="{% url 'd_doc' obj.id  %}">
            {% if not obj.image %}
            <img
              class="h-40 w-full object-cover"
              src="{% static 'imgs/dvr.jpg' %}"
              alt="d_doc image"
            />
            {% else %}
            <img
              class="h-40 w-full object-cover"
              src="{{obj.image.url}}"
              alt="d_doc image"
            />
            {% endif %}
            <div class="p-4 flex flex-col justify-between">
              <h4 class="text-black text-md font-bold">
                {{obj.civility}} {{obj.user.last_name}} {{obj.user.first_name}}
              </h4>
              <p class="py-2 text-sm">{{obj.city}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>

  <!--------------------------------------- vehicle documents --------------------------------------->
  <section id="v_docs" class="tabcontent py-4 w-full text-left">
    <div class="w-full mx-auto">
      {% if not v_docss %}

      <!--------------------------------------- No data placeholder --------------------------------------->
      <div
        class="p-8 my-40 bg-gray-100 max-w-[400px] mx-auto rounded-md flex-col text-center"
      >
        <i class="fa-regular fa-folder-open text-7xl"></i>
        <p class="mt-4">Aucune données disponible pour le moment</p>
      </div>

      {% else %}
      <!--------------------------------------- v_docss --------------------------------------->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        {% for obj in v_docss %}
        <div
          class="flex flex-col border border-2 hover:border-gray-800 bg-white hover:shadow-md rounded-md transition duration-300 ease-in-out overflow-hidden"
        >
          <a href="{% url 'v_doc' obj.id  %}">
            {% if not obj.image %}
            <img
              class="h-40 w-full object-cover"
              src="{% static 'imgs/dvr.jpg' %}"
              alt="v_docs image"
            />
            {% else %}
            <img
              class="h-40 w-full object-cover"
              src="{{obj.image.url}}"
              alt="v_docs image"
            />
            {% endif %}
            <div class="p-4 flex flex-col justify-between">
              <h4 class="text-black text-md font-bold">
                {{obj.civility}} {{obj.user.last_name}} {{obj.user.first_name}}
              </h4>
              <p class="py-2 text-sm">{{obj.city}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}
