{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto min-h-screen">
  <!--------------------------------------- mini navbar --------------------------------------->
  <nav
    class="mx-auto mt-4 py-2 flex items-center gap-2 items-center text-xs w-full max-w-[1350px]"
  >
    {% if curr_doc and not form %}
    <div class="flex gap-4 items-center">
      <a
        href="{% url 'edit_ddoc' curr_doc.id %}"
        class="mb-4 px-4 py-2 bg-gray-800 text-white hover:bg-amber-200 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
        >Modifier ce document<i class="fa-solid fa-pen-to-square ml-4"></i
      ></a>
      <a
        href="{% url 'delete_ddoc' curr_doc.id %}"
        class="mb-4 px-4 py-2 bg-red-700 text-white hover:bg-red-500 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
        >Supprimer ce document<i class="fa-solid fa-trash ml-4"></i
      ></a>
    </div>
    {% else %}
    <a
      href="{% url 'create_ddoc' %}"
      class="mb-4 px-4 py-2 bg-gray-800 text-white hover:bg-amber-200 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      >Ajouter un document pour conducteur<i
        class="fa-solid fa-pen-to-square ml-4"
      ></i
    ></a>
    {% endif %}
  </nav>

  <!--------------------------------------- forms layout --------------------------------------->

  {% if not form %}

  <section
    class="my-4 p-8 bg-white flex flex-col gap-8 justify-between rounded-md overflow-hidden"
  >
    <div class="grid md:grid-cols-2 gap-8 w-full">
      {% if not curr_doc.image %}
      <img
        class="h-80 w-full rounded-md object-cover"
        src="{% static 'imgs/docs.jpg' %}"
        alt="vehicle image"
      />
      {% else %}
      <img
        class="h-80 w-full rounded-md object-cover"
        src="{{curr_doc.image.url}}"
        alt="vehicle image"
      />
      {% endif %}
      <!--  -->
      <div class="p-4 flex flex-col justify-between">
        <h4 class="text-black text-md font-bold">
          Conducteur : {{curr_doc.driver.user.first_name}}
        </h4>
        <p class="py-2 text-sm">Type de docuemnt : {{curr_doc.type.name}}</p>
        <p class="py-2 text-sm">
          Validité : {{curr_doc.issue_date.date}} -
          {{curr_doc.expiry_date.date}}
        </p>
        <p class="py-2 text-sm">Date ajouté {{curr_doc.date_posted.date}}</p>
      </div>
      <!--  -->
    </div>

    <!--------------------------------------- related vehicles --------------------------------------->

    <div class="p-4 w-full h-40 max-w-[1350px] mx-auto rounded-md">
      <h3 class="mb-2 text-gray-700 text-xl font-black">
        Autre document connexes
      </h3>
    </div>
  </section>

  {% else %}
  <!--------------------------------------- driver form -->
  <section
    id="d_form"
    class="mb-4 p-4 lg:p-8 border border-2 border-gray-800 w-full mx-auto rounded-md"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8">
      <div class="rounded-md mx-auto rounded-lg text-sm">
        <h3 class="mb-4 text-black text-3xl font-bold">
          Formualire de document pour conducteurs
        </h3>
        <form
          class="w-full"
          method="POST"
          action=""
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <!--  -->
          <div class="md:grid grid-cols-2 gap-4">
            {% for field in form %}
            <div>
              <h3 class="mb-1">{{field.label}}</h3>
              {{field}}
            </div>
            {% endfor %}
          </div>
          <div class="my-4 flex gap-4 items-end">
            <input
              class="px-8 py-2 bg-gray-700 hover:bg-black text-white rounded-md cursor-pointer"
              type="submit"
              value="Enregistrer"
            />
            <a
              class="bg-white px-8 py-2 rounded-md hover:bg-red-700 hover:text-white"
              href="{{request.META.HTTP_REFERER}}"
            >
              Annuler
            </a>
          </div>
        </form>
      </div>
      {% if not curr_doc.image %}
      <img
        class="h-[400px] w-full rounded-md object-cover"
        src="{% static 'imgs/docs.jpg' %}"
        alt="vehicle image"
      />
      {% else %}
      <img
        class="h-[400px] w-full rounded-md object-cover"
        src="{{curr_doc.image.url}}"
        alt="vehicle image"
      />
      {% endif %}
    </div>
  </section>
  {% endif %}
</div>

{% endblock %}
