{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->

<nav
  class="mx-auto flex justify-between items-center gap-2 items-center text-xs w-full"
>
  <div class="flex items-center gap-2">
    <a
      href="{{request.META.HTTP_REFERER}}"
      class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      ><i class="fa-solid fa-arrow-left"></i
    ></a>
    {% if user.role.sec_level >= 3 %}
    <a
      href="{% url 'create_driver' %}"
      class="px-4 py-3 bg-black text-white hover:bg-amber-300 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      ><span class="hidden md:inline">Ajouter un conducteur</span
      ><i class="fa-solid fa-plus md:ml-4"></i
    ></a>
    {% endif %}
  </div>
  <!--  -->
  {% include 'components/searchbar.html' %}
</nav>
<!--------------------------------------- stats --------------------------------------->
<section id="stats" class="mt-4 w-full bg-black p-6 rounded-md">
  <div
    class="text-gray-300 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8"
  >
    <div class="p-6 flex flex-col justify-between brounded-md">
      <h4 class="text-sky-500 text-xl font-bold">{{driver_count}}</h4>
      <p class="mt-2 text-sm">Tous les conducteurs</p>
    </div>
    <div class="p-6 flex flex-col justify-between brounded-md">
      <h4 class="text-green-500 text-xl font-bold">{{activ_count}}</h4>
      <p class="mt-2 text-sm">Conducteurs Actifs</p>
    </div>
    <div class="p-6 flex flex-col justify-between brounded-md">
      <h4 class="text-red-500 text-xl font-bold">{{inactiv_count}}</h4>
      <p class="mt-2 text-sm">Conducteurs Inactifs</p>
    </div>
    <div class="p-6 flex flex-col justify-between brounded-md">
      <h4 class="text-amber-400 text-xl font-bold">
        {{activity_percent|floatformat}}%
      </h4>
      <p class="mt-2 text-sm">Pourcentage d'Activité</p>
    </div>
    <!-- <div class="p-6 flex flex-col justify-between brounded-md">
      {% if total_net < 0 %}
      <h4 class="text-red-500 text-xl font-bold">{{total_net}} CFA</h4>
      {% else %}
      <h4 class="text-green-500 text-xl font-bold">{{total_net}} CFA</h4>
      {% endif %}
      <p class="mt-2 text-sm">Revenu Net Total</p>
    </div> -->
  </div>
</section>
<!--------------------------------------- drivers --------------------------------------->
<section id="drivers" class="py-4 w-full text-left">
  <div class="w-full mx-auto">
    {% if not drivers %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->
    {% else %}
    <!--------------------------------------- drivers --------------------------------------->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
    >
      {% for obj in drivers %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_active %}
        <span
          class="absolute bottom-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Actif
        </span>
        {% else %}
        <span
          class="absolute bottom-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Inactif
        </span>
        {% endif %}
        <a href="{% url 'driver' obj.id  %}" class="flex">
          {% if not obj.image %}
          <img
            class="h-full w-[120px] object-cover"
            src="{% static 'imgs/dvr.jpg' %}"
            alt="driver image"
          />
          {% else %}
          <img
            class="h-full w-[120px] object-cover"
            src="{{obj.image.url}}"
            alt="driver image"
          />
          {% endif %}
          <div class="p-4 flex flex-col justify-between w-80">
            <h4 class="text-black text-md font-bold">
              {{obj.civility}} {{obj.last_name}} {{obj.first_name}}
            </h4>
            <p class="py-2 text-sm">{{obj.city}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}
