{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->
<nav
  class="mb-4 mx-auto flex flex-wrap items-center gap-2 items-center text-xs w-full max-w-[1350px]"
>
  <a
    href="{{request.META.HTTP_REFERER}}"
    class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
  {% if curr_driver and not form %}
  <!--  -->
  {% if user == curr_driver.user or user.role.sec_level >= 3 %}
  <a
    href="{% url 'edit_driver' curr_driver.id %}"
    class="px-4 py-3 bg-black text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Modifier<i class="fa-solid fa-pen-to-square ml-4"></i
  ></a>
  {% endif %}
  <!--  -->
  {% if user.role.sec_level >= 3 %}
  <a
    id="delete_btn"
    onclick="return confirm('Voulez vous continuer avec la suppression')"
    href="{% url 'delete_driver' curr_driver.id %}"
    class="px-4 py-3 bg-black text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Supprimer<i class="fa-solid fa-trash ml-4"></i
  ></a>
  <form action="{% url 'driver_activation' curr_driver.id %}" method="POST">
    {% csrf_token %}
    <!--  -->
    {% if curr_driver.is_active == False %}
    <input
      type="submit"
      value="Activer"
      class="px-4 py-3 bg-black text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
    />
    {% else %}
    <input
      type="submit"
      value="Désactiver"
      class="px-4 py-3 bg-black text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
    />
    {% endif %}
  </form>
  {% endif %}
  <!--  -->
  {% endif %}
</nav>

{% if not form %}
<!--------------------------------------- driver layout --------------------------------------->
<section class="mb-4 flex flex-col justify-between items-start gap-4">
  <div class="md:flex gap-4 w-full">
    {% if not curr_driver.image %}
    <img
      class="mb-4 h-[320px] w-full md:w-[320px] rounded-md object-cover"
      src="{% static 'imgs/dvr.jpg' %}"
      alt="driver image"
    />
    {% else %}
    <img
      class="mb-4 h-[320px] w-full md:w-[320px] rounded-md object-cover"
      src="{{curr_driver.image.url}}"
      alt="driver image"
    />
    {% endif %}
    <!--  -->
    <div
      class="h-[320px] w-full bg-black text-gray-300 text-sm p-6 rounded-md flex flex-col gap-2 overflow-hidden"
    >
      <h4 class="text-white text-xl font-bold flex items-center">
        {{curr_driver.civility}} {{curr_driver.last_name}}
        {{curr_driver.first_name}}
        <img class="mx-2 h-4" src="{{curr_driver.nationality.flag}}" />
        ({{curr_driver.nationality}})
      </h4>
      <div class="flex gap-2 items-center">
        <p class="py-2">{{curr_driver.city}}</p>
        <p class="py-1 text-center text-white rounded-full bg-green-600 w-60">
          Score : {{curr_driver.score}}
        </p>
      </div>
      <div class="flex items-center gap-4">
        <a
          href="tel:{{curr_driver.phone}}"
          target="_blank"
          class="px-4 py-2 rounded-md bg-white hover:bg-green-300 text-black"
        >
          <i class="fa-solid fa-phone mr-2"></i>{{curr_driver.phone}}
        </a>
        <a
          href="{% url 'chats' %}"
          class="px-4 py-2 rounded-md bg-white hover:bg-amber-300 text-black"
        >
          <i class="fa-solid fa-comments mr-2"></i> Contacter
        </a>
      </div>
      <p class="py-2">{{curr_driver.bio}}</p>
    </div>
    <!--  -->
  </div>
</section>

<!--------------------------------------- related stuff --------------------------------------->
<div
  class="tabbar mx-auto mb-4 p-1 bg-black rounded-md flex justify-between gap-1 w-full text-sm"
>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'docs')"
    id="defaulttab"
  >
    <i class="fa-solid fa-folder-open lg:mr-2"></i>
    <span class="hidden xl:inline">Documents</span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'expenses')"
  >
    <i class="fa-solid fa-arrow-up lg:mr-2"></i>
    <span class="hidden xl:inline">Dépenses</span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'payments')"
  >
    <i class="fa-solid fa-arrow-down lg:mr-2"></i>
    <span class="hidden xl:inline">Recette</span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'payouts')"
  >
    <i class="fa-solid fa-coins lg:mr-2"></i>
    <span class="hidden xl:inline">Gains</span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'incidents')"
  >
    <i class="fa-solid fa-burst lg:mr-2"></i>
    <span class="hidden xl:inline">Incidents</span>
  </button>
</div>
<!--------------------------------------- related documents --------------------------------------->
<section id="docs" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level >= 1 %}
  <a
    href="{% url 'create_ddoc' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter un document<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not documents %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->

    {% else %}
    <!--------------------------------------- documents --------------------------------------->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
    >
      {% for obj in documents %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_valid %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          <i class="fa-solid fa-check text-white"></i>
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          <i class="fa-solid fa-question text-white"></i>
        </span>
        {% endif %}
        <a href="{% url 'driver_doc' obj.id  %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">{{obj.type.name}}</h4>
            <p class="pt-2 text-sm">
              {{obj.partner.last_name}} {{obj.partner.first_name}}
            </p>
            <p class="pt-2 text-sm">{{obj.date_posted.date}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- related expenses --------------------------------------->
<section id="expenses" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level >= 3 %}
  <a
    href="{% url 'create_d_expense' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter une dépense<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not expenses %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->

    {% else %}
    <!--------------------------------------- expenses --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      {% for obj in expenses %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_audited %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          <i class="fa-solid fa-check text-white"></i>
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          <i class="fa-solid fa-question text-white"></i>
        </span>
        {% endif %}
        <a href="{% url 'd_expense' obj.id  %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.title|truncatechars:17}} <br />
              à {{obj.amount}} CFA
            </h4>
            <tt class="mt-2 text-sm font-bold">
              {{obj.driver.last_name}} {{obj.driver.first_name}}
            </tt>
            <p class="mt-2 text-sm">{{obj.date}} - {{obj.time}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- related payments --------------------------------------->
<section id="payments" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level >= 3 %}
  <a
    href="{% url 'create_payment' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter une recette<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not payments %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->

    {% else %}
    <!--------------------------------------- payments --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      {% for obj in payments %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_audited %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          <i class="fa-solid fa-check text-white"></i>
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          <i class="fa-solid fa-question text-white"></i>
        </span>
        {% endif %}
        <a href="{% url 'payment' obj.id   %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">{{obj.amount}} CFA</h4>
            <tt class="mt-2 text-sm font-bold">
              {{obj.driver.last_name}} {{obj.driver.first_name}}
            </tt>
            <p class="mt-2 text-sm">
              {{obj.date}} de {{obj.start_time}} à {{obj.end_time}}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- related payouts --------------------------------------->
<section id="payouts" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level >= 3 %}
  <a
    href="{% url 'create_payout' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter un gain<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not payouts %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->

    {% else %}
    <!--------------------------------------- payouts --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      {% for obj in payouts %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_audited %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          <i class="fa-solid fa-check text-white"></i>
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          <i class="fa-solid fa-question text-white"></i>
        </span>
        {% endif %}
        <a href="{% url 'payout' obj.id  %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.amount}} CFA
              <!-- ({{obj.get_type_display}}) -->
            </h4>
            <tt class="mt-2 text-sm font-bold">
              {{obj.driver.last_name}} {{obj.driver.first_name}}
            </tt>
            <p class="mt-2 text-sm">{{obj.start_date}} - {{obj.end_date}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- related incidents --------------------------------------->
<section id="incidents" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level >= 1 %}
  <a
    href="{% url 'create_incident' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Signaler un incident<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not incidents %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->

    {% else %}
    <!--------------------------------------- incidents --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      {% for obj in incidents %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_solved %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          <i class="fa-solid fa-check text-white"></i>
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          <i class="fa-solid fa-question text-white"></i>
        </span>
        {% endif %}

        <a href="{% url 'incident' obj.id  %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.vehicle.make}} {{obj.vehicle.model|truncatechars:7}}
              [-{{obj.vehicle.plate_number|upper}}-]
            </h4>
            <p class="pt-2 text-sm">{{obj.date}} à {{obj.time}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

{% else %}
<!--------------------------------------- driver form --------------------------------------->
<section
  id="d_form"
  class="mb-4 p-4 lg:p-8 flex gap-4 lg:gap-8 bg-white w-full mx-auto rounded-md text-sm"
>
  <div class="w-full">
    {% if curr_driver %}
    <h3 class="mb-4 text-black text-2xl font-bold">Modifier ce conducteur</h3>
    {% else %}
    <h3 class="mb-4 text-black text-2xl font-bold">Nouveau conducteur</h3>
    {% endif %}
    <form
      class="w-full flex flex-col justify-between gap-6"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <!--  -->
      <div class="grid grid-cols-1 xl:grid-cols-2 gap-4">
        {% if not curr_driver %}
        <div>
          <h3 class="mb-1">{{form.user.label}}</h3>
          {{form.user}}
        </div>
        {% else %}
        <div class="hidden">
          <h3>{{form.user.label}}</h3>
          {{form.user}}
        </div>
        {% endif %}
        <div>
          <h3 class="mb-1">{{form.civility.label}}</h3>
          {{form.civility}}
        </div>
        <div>
          <h3 class="mb-1">{{form.martital_status.label}}</h3>
          {{form.martital_status}}
        </div>
        <div>
          <h3 class="mb-1">{{form.last_name.label}}</h3>
          {{form.last_name}}
        </div>
        <div>
          <h3 class="mb-1">{{form.first_name.label}}</h3>
          {{form.first_name}}
        </div>
        <!--  -->
        <div>
          <h3 class="mb-1">{{form.nationality.label}}</h3>
          {{form.nationality}}
        </div>
        <div>
          <h3 class="mb-1">{{form.date_of_birth.label}}</h3>
          {{form.date_of_birth}}
        </div>
        <div>
          <h3 class="mb-1">{{form.place_of_birth.label}}</h3>
          {{form.place_of_birth}}
        </div>
        <div>
          <h3 class="mb-1">{{form.city.label}}</h3>
          {{form.city}}
        </div>
        <!--  -->
        <div>
          <h3 class="mb-1">{{form.phone.label}}</h3>
          {{form.phone}}
        </div>
        <div>
          <h3 class="mb-1">{{form.address.label}}</h3>
          {{form.address}}
        </div>
        <div>
          <h3 class="mb-1">{{form.image.label}}</h3>
          {{form.image}}
        </div>
        <div>
          <h3 class="mb-1">{{form.score.label}}</h3>
          {{form.score}}
        </div>
      </div>
      <div>
        <h3 class="mb-1">{{form.bio.label}}</h3>
        {{form.bio}}
      </div>
      <div class="flex gap-4 items-end">
        <input
          class="px-8 py-2 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-200 px-8 py-2 rounded-md hover:bg-red-700 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
  </div>
  <div class="hidden md:inline rounded-md overflow-hidden w-full max-w-[460px]">
    {% if not curr_driver %}
    <img
      class="h-full w-full max-w-[460px] object-cover"
      src="{% static 'imgs/dvr.jpg' %}"
      alt="driver image"
    />
    {% endif %}
    <!--  -->
    {% if curr_driver %}
    <!--  -->
    {% if not curr_driver.image %}
    <img
      class="w-full object-cover"
      src="{% static 'imgs/dvr.jpg' %}"
      alt="driver image"
    />
    {% else %}
    <img
      class="w-full object-cover"
      src="{{curr_driver.image.url}}"
      alt="driver image"
    />
    {% endif %}

    <div class="p-4 h-full flex flex-col gap-1 w-full bg-black text-gray-300">
      <h3 class="font-bold text-xl text-white">
        {{curr_driver.last_name}} {{curr_driver.first_name}}
      </h3>
      <p>@{{curr_driver.user.username}}</p>
      <p>{{curr_driver.user.email}}</p>
    </div>
    {% endif %}
  </div>
</section>

{% endif %} 

<script>
    document.getElementById("defaulttab").click();
  function openTab(event, tabName) {
  var i, content, button;
  content = document.getElementsByClassName("tabcontent");
  for (i = 0; i < content.length; i++) {
    content[i].style.display = "none";
  }
  button = document.getElementsByClassName("tabbutton");
  for (i = 0; i < button.length; i++) {
    button[i].className = button[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  event.currentTarget.className += " active";
  }

</script>
{% endblock %}
