{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->

<nav
  class="mx-auto flex justify-between items-center gap-2 items-center text-xs w-full"
>
  <div class="flex items-center gap-2">
    <a
      href="{{request.META.HTTP_REFERER}}"
      class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      ><i class="fa-solid fa-arrow-left"></i
    ></a>
    {% if user.role.sec_level != 2 %}
    <a
      href="{% url 'create_incident' %}"
      class="px-4 py-3 bg-black text-white hover:bg-amber-300 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      ><span class="hidden md:inline">Nouvel incident</span
      ><i class="fa-solid fa-plus md:ml-4"></i
    ></a>
    {% endif %}
  </div>
  <!--  -->
  {% include 'components/searchbar.html' %}
</nav>
<!--------------------------------------- stats --------------------------------------->
<section id="stats" class="mt-4 w-full bg-black p-6 rounded-md">
  <div
    class="text-gray-300 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8"
  >
    <div class="p-6 flex flex-col justify-between brounded-md">
      <h4 class="text-sky-500 text-xl font-bold">{{incident_count}}</h4>
      <p class="mt-2 text-sm">Tous les incidents</p>
    </div>
    <div class="p-6 flex flex-col justify-between brounded-md">
      <h4 class="text-green-500 text-xl font-bold">{{solved_count}}</h4>
      <p class="mt-2 text-sm">Incidents Résolus</p>
    </div>
    <div class="p-6 flex flex-col justify-between brounded-md">
      <h4 class="text-red-500 text-xl font-bold">{{unsolved_count}}</h4>
      <p class="mt-2 text-sm">Incidents Non-résolus</p>
    </div>
    <div class="p-6 flex flex-col justify-between brounded-md">
      <h4 class="text-amber-400 text-xl font-bold">
        {{resolution_rate|floatformat}}%
      </h4>
      <p class="mt-2 text-sm">Pourcentage de Résolution</p>
    </div>
    <!-- <div class="p-6 flex flex-col justify-between brounded-md">
      {% if total_net < 0 %}
      <h4 class="text-red-500 text-xl font-bold">{{total_net}} CFA</h4>
      {% else %}
      <h4 class="text-green-500 text-xl font-bold">{{total_net}} CFA</h4>
      {% endif %}
      <p class="mt-2 text-sm">Revenu Net Total</p>
    </div> -->
  </div>
</section>
<!--------------------------------------- incidents --------------------------------------->
<section id="incidents" class="py-4 w-full text-left">
  <div class="w-full mx-auto">
    {% if not incidents %}

    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->
    {% else %}
    <!--------------------------------------- incidents --------------------------------------->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
    >
      {% for obj in incidents %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_solved %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Résolu
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Non-résolu
        </span>
        {% endif %}

        <a href="{% url 'incident' obj.id  %}">
          {% if not obj.image %}
          <img
            class="h-20 w-full object-cover"
            src="{% static 'imgs/crash.jpg' %}"
            alt="incident image"
          />
          {% else %}
          <img
            class="h-20 w-full object-cover"
            src="{{obj.image.url}}"
            alt="incident image"
          />
          {% endif %}
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.vehicle.make}} {{obj.vehicle.model}}
              [-{{obj.vehicle.plate_number|upper}}-]
            </h4>
            <p class="pt-2 text-sm">{{obj.date}} à {{obj.time}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}
