{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->
<nav
  class="mb-4 mx-auto flex items-center gap-2 items-center text-xs w-full max-w-[1350px]"
>
  <a
    href="{{request.META.HTTP_REFERER}}"
    class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
  {% if user == curr_partner.user and not form %}
  <a
    href="{% url 'edit_partner' curr_partner.id %}"
    class="px-4 py-3 bg-black text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Modifier<i class="fa-solid fa-pen-to-square ml-4"></i
  ></a>
  {% elif user.role.sec_level >= 3 and not form %}
  <a
    href="{% url 'edit_partner' curr_partner.id %}"
    class="px-4 py-3 bg-black text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Modifier<i class="fa-solid fa-pen-to-square ml-4"></i
  ></a>
  <a
    href="{% url 'delete_partner' curr_partner.id %}"
    class="px-4 py-3 bg-black text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Supprimer<i class="fa-solid fa-trash ml-4"></i
  ></a>
  {% endif %}
</nav>

{% if not form %}
<!--------------------------------------- partner layout --------------------------------------->
<section class="mb-4 flex flex-col justify-between items-start gap-4">
  <div class="grid md:grid-cols-2 gap-4 w-full">
    {% if not curr_partner.image %}
    <img
      class="h-[320px] w-full rounded-md object-cover"
      src="{% static 'imgs/partner.jpg' %}"
      alt="partner image"
    />
    {% else %}
    <img
      class="h-[320px] w-full rounded-md object-cover"
      src="{{curr_partner.image.url}}"
      alt="partner image"
    />
    {% endif %}
    <!--  -->
    <div
      class="h-[320px] bg-black text-gray-300 text-sm p-8 rounded-md flex flex-col gap-2 overflow-hidden"
    >
      <h4 class="text-white text-xl font-bold flex items-center">
        {{curr_partner.civility}} {{curr_partner.user.last_name}}
        {{curr_partner.user.first_name}}
        <img class="mx-2 h-4" src="{{curr_partner.nationality.flag}}" />
        ({{curr_partner.nationality}})
      </h4>
      <p class="pt-2">{{curr_partner.city}} | {{curr_partner.contract}}</p>
      <div class="flex items-center gap-4">
        <a
          href="tel:{{curr_partner.tel}}"
          target="_blank"
          class="px-4 py-2 rounded-md bg-white hover:bg-amber-400 text-black"
        >
          <i class="fa-solid fa-phone mr-2"></i>{{curr_partner.phone}}
        </a>
        <a
          href="{% url 'chat_page' curr_partner.user.id %}"
          class="px-4 py-2 rounded-md bg-white hover:bg-amber-400 text-black"
        >
          <i class="fa-solid fa-comments mr-2"></i> Contacter
        </a>
      </div>
      <p class="pt-2">{{curr_partner.bio}}</p>
    </div>
    <!--  -->
  </div>
</section>

<!--------------------------------------- related stuff --------------------------------------->
<div
  class="customtab mx-auto mb-4 p-1 bg-black rounded-md flex justify-between gap-1 w-full text-sm"
>
  <button
    class="tablinks py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'docs')"
    id="defaultOpen"
  >
    <i class="fa-solid fa-folder-open lg:mr-2"></i>
    <span class="hidden xl:inline">Documents</span>
  </button>
  <button
    class="tablinks py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'vehicles')"
  >
    <i class="fa-solid fa-taxi lg:mr-2"></i>
    <span class="hidden xl:inline">Véhicules</span>
  </button>
  <button
    class="tablinks py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'payments')"
  >
    <i class="fa-solid fa-coins lg:mr-2"></i>
    <span class="hidden xl:inline">Recettes</span>
  </button>
  <button
    class="tablinks py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'stats')"
  >
    <i class="fa-solid fa-chart-pie lg:mr-2"></i>
    <span class="hidden xl:inline">Statistiques</span>
  </button>
</div>

<!--------------------------------------- related documents --------------------------------------->
<section id="docs" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level >= 1 %}
  <a
    href="{% url 'create_pdoc' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter un document<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not documents %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->

    {% else %}
    <!--------------------------------------- documents --------------------------------------->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
    >
      {% for obj in documents %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_valid %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Valid
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Invalid
        </span>
        {% endif %}
        <a href="{% url 'partner_doc' obj.id  %}">
          <div class="p-6 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">{{obj.type.name}}</h4>
            <p class="pt-2 text-sm">
              {{obj.partner.last_name}} {{obj.partner.first_name}}
            </p>
            <p class="pt-2 text-sm">{{obj.date_posted.date}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- related vehicles --------------------------------------->
<section id="vehicles" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level >= 1 %}
  <a
    href="{% url 'create_payment' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter un véhicule<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not vehicles %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->

    {% else %}
    <!--------------------------------------- v_docs --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {% for obj in vehicles %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_active %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Actif
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Inactif
        </span>
        {% endif %}

        <a href="{% url 'vehicle' obj.plate_number  %}">
          <div class="p-6 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.make}} {{obj.model}} ({{obj.year}})
            </h4>
            <p class="pt-2 text-sm">[-{{obj.plate_number}}-]</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- related payments --------------------------------------->
<section id="payments" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level >= 3 %}
  <a
    href="{% url 'create_payment' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter une recette<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not payments %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->

    {% else %}
    <!--------------------------------------- payments --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {% for obj in payments %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_audited %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Audité
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Non-audité
        </span>
        {% endif %}
        <a href="{% url 'payment' obj.id   %}">
          <div class="p-6 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">{{obj.amount}} CFA</h4>
            <tt class="mt-2 text-sm font-bold">
              {{obj.driver.last_name}} {{obj.driver.first_name}}
            </tt>
            <p class="mt-2 text-sm">
              {{obj.date}} de {{obj.start_time}} à {{obj.end_time}}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- stats --------------------------------------->
<section id="stats" class="tabcontent w-full bg-white p-6 rounded-md">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="p-6 flex flex-col justify-between border-2 rounded-md">
      <h4 class="text-green-500 text-xl font-bold">{{total_revenu}} CFA</h4>
      <p class="mt-2 text-sm">Revenu Brut</p>
    </div>
    <div class="p-6 flex flex-col justify-between border-2 rounded-md">
      <h4 class="text-red-500 text-xl font-bold">{{total_expenses}} CFA</h4>
      <p class="mt-2 text-sm">Dépenses</p>
    </div>
    <div class="p-6 flex flex-col justify-between border-2 rounded-md">
      <h4 class="text-amber-400 text-xl font-bold">
        {{curr_partner.contract.commission}}%
        <span class="text-sm text-black font-light">de {{net_revenu}} ≈</span>
         <tt>{{commission}}</tt>
      </h4>
      <p class="mt-2 text-sm">Commissions</p>
    </div>
    <div class="p-6 flex flex-col justify-between border-2 rounded-md">
      {% if total_net < 0 %}
      <h4 class="text-red-500 text-xl font-bold">{{total_net}} CFA</h4>
      {% else %}
      <h4 class="text-green-500 text-xl font-bold">{{total_net}} CFA</h4>
      {% endif %}
      <p class="mt-2 text-sm">Revenu Net</p>
    </div>
  </div>
</section>

{% else %}

<section class="mb-4 p-4 lg:p-8 bg-white w-full mx-auto rounded-md text-sm">
  <h3 class="mb-4 text-black text-2xl font-bold">
    {% if not curr_partner %} Ajouter un nouveau conducteur
    <!--  -->
    {% elif user == curr_partner.user %}
    <!--  -->
    Modifier mon profile de conducteur
    <!--  -->
    {% else %}
    <!--  -->
    Modifier le profile de ce conducteur
    <!--  -->
    {% endif %}
  </h3>
  <form
    class="w-full flex flex-col justify-between gap-6"
    method="POST"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <!--  -->
    <div class="flex flex-col md:flex-row flex-wrap gap-5">
      {% for field in form %}
      <div>
        <h3 class="mb-1">{{field.label}}</h3>
        {{field}}
      </div>
      {% endfor %}
    </div>
    <div class="my-4 flex gap-4 items-end">
      <input
        class="px-8 py-2 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md cursor-pointer"
        type="submit"
        value="Enregistrer"
      />
      <a
        class="bg-gray-200 px-8 py-2 rounded-md hover:bg-red-700 hover:text-white"
        href="{{request.META.HTTP_REFERER}}"
      >
        Annuler
      </a>
    </div>
  </form>
</section>

{% endif %} {% endblock %}
