{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto min-h-screen">
  <!--------------------------------------- mini navbar --------------------------------------->
  {% if user == curr_vehicle.owner and not form %}
  <nav
    class="mx-auto mt-4 py-2 flex justify-between items-center gap-2 items-center text-xs w-full max-w-[1350px]"
  >
    <a
      href="{% url 'edit_vehicle' curr_vehicle.plate_number %}"
      class="px-4 py-2 bg-black text-white hover:bg-amber-200 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      >Modifier le profile de mon véhicule<i
        class="fa-solid fa-pen-to-square ml-4"
      ></i
    ></a>
  </nav>
  {% endif %} {% if not form %}
  <!--------------------------------------- vehicle layout --------------------------------------->
  <section class="my-6 flex flex-col justify-between items-start gap-8">
    <div class="grid md:grid-cols-2 gap-8 w-full">
      {% if not curr_vehicle.image %}
      <img
        class="h-80 border border-2 w-full rounded-md object-cover"
        src="{% static 'imgs/taxi.jpg' %}"
        alt="vehicle image"
      />
      {% else %}
      <img
        class="h-80 border border-2 w-full rounded-md object-cover"
        src="{{curr_vehicle.image.url}}"
        alt="vehicle image"
      />
      {% endif %}
      <!--  -->
      <div class="bg-black text-gray-300 text-sm p-8 rounded-md flex flex-col">
        <h4 class="text-white text-xl font-bold flex items-center">
          <!-- <i class="fa-solid fa-car lg:mr-2"></i> -->
          {{curr_vehicle.make}} {{curr_vehicle.model}} {{curr_vehicle.year}}
          <img class="mx-2 h-4" src="{{curr_vehicle.country.flag}}" />
          ({{curr_vehicle.country}})
        </h4>
        <p class="py-2">Etat : {{curr_vehicle.state}}</p>
        <p class="py-2">Couleur : {{curr_vehicle.color}}</p>
        <p class="py-2">Fournisseurs : {{curr_vehicle.supplier}}</p>
        <p class="py-2">Transmission : {{curr_vehicle.transmission}}</p>
        <p class="py-2">
          Immatriculation : {{curr_vehicle.plate_number|upper}}
        </p>
        <p class="py-2">
          Numéro de série (VIN) : {{curr_vehicle.serial_number}}
        </p>
      </div>
      <!--  -->
      <!-- <div
        class="omni-calculator"
        data-calculator="finance/car-depreciation"
        data-width="300"
        data-config="{}"
        data-currency="XOF"
        data-show-row-controls="false"
        data-version="3"
        data-t="1687332423718"
      >
        <div class="omni-calculator-header">Car Depreciation Calculator</div>
        <div class="omni-calculator-footer">
          <a
            href="https://www.omnicalculator.com/finance/car-depreciation"
            target="_blank"
            ><img
              alt="Omni"
              class="omni-calculator-logo"
              src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg"
          /></a>
        </div>
      </div>
      <script async src="https://cdn.omnicalculator.com/sdk.js"></script> -->
    </div>

    <!--------------------------------------- related vehicles --------------------------------------->

    <div class="p-4 w-full bg-white h-40 max-w-[1350px] mx-auto rounded-md">
      <h3 class="mb-2 text-gray-700 text-xl font-black">Voir plus</h3>
    </div>
  </section>

  {% else %}

  <section
    class="mb-4 p-4 border border-2 border-gray-800 lg:p-8 w-full mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-8 rounded-md"
  >
    <!--------------------------------------- consultaion form -->
    <div class="bg-gray-200 rounded-md mx-auto w-full rounded-lg text-sm">
      <h3 class="mb-4 text-black text-3xl font-bold">
        {% if not curr_vehicle %} Ajouter un nouveau véhicule {% else %}
        Modifier de mon véhicule {% endif %}
      </h3>
      <form
        class="w-full"
        method="POST"
        action=""
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <!--  -->
        <div class="md:grid grid-cols-2 gap-4">
          {% for field in form %}
          <div>
            <h3 class="mb-1">{{field.label}}</h3>
            {{field}}
          </div>
          {% endfor %}
        </div>
        <div class="my-4 flex gap-4 items-end">
          <input
            class="px-8 py-2 bg-gray-700 hover:bg-black text-white rounded-md cursor-pointer"
            type="submit"
            value="Enregistrer"
          />
          <a
            class="bg-white px-8 py-2 rounded-md hover:bg-red-700 hover:text-white"
            href="{{request.META.HTTP_REFERER}}"
          >
            Annuler
          </a>
        </div>
      </form>
    </div>

    <img
      class="w-full h-full rounded-md object-cover"
      src="{% static 'imgs/taxi.jpg' %}"
      alt="consultaion image"
    />
  </section>

  {% endif %}
</div>

{% endblock %}
