{% extends 'main.html' %} {% load static %} {% block content %}

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->

<!--------------------------------------- mini navbar --------------------------------------->
<nav
  class="mb-4 mx-auto flex flex-wrap items-center gap-2 items-center text-xs w-full max-w-[1350px]"
>
  <a
    href="{{request.META.HTTP_REFERER}}"
    class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
  {% if curr_vehicle and not form %}
  <!--  -->
  {% if user.role.sec_level >= 3 or user == curr_vehicle.owner %}
  <a
    href="{% url 'edit_vehicle' curr_vehicle.plate_number %}"
    class="px-4 py-3 bg-black text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Modifier<i class="fa-solid fa-pen-to-square ml-4"></i
  ></a>
  <!--  -->
  {% endif %}
  <!--  -->
  {% if user.role.sec_level >= 3 %}
  <a
    href="{% url 'delete_vehicle' curr_vehicle.plate_number %}"
    id="delete_btn"
    onclick="return confirm('Voulez vous continuer avec la suppression')"
    class="px-4 py-3 bg-black text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Supprimer<i class="fa-solid fa-trash ml-4"></i
  ></a>
  <form
    action="{% url 'vehicle_activation' curr_vehicle.plate_number %}"
    method="POST"
  >
    {% csrf_token %}
    <!--  -->
    {% if curr_vehicle.is_active == False %}
    <input
      type="submit"
      value="Activer"
      class="px-4 py-3 bg-black text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
    />
    {% else %}
    <input
      type="submit"
      value="Désactiver"
      class="px-4 py-3 bg-black text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
    />
    {% endif %}
  </form>
  {% endif %}
  <!--  -->
  {% endif %}
</nav>

<!--------------------------------------- vehicle layout --------------------------------------->
{% if not form %}
<section class="mb-4 flex flex-col justify-between items-start gap-8">
  <div class="grid md:grid-cols-2 gap-4 w-full">
    {% if not curr_vehicle.image %}
    <img
      class="h-80 border border-2 w-full rounded-md object-cover"
      src="{% static 'imgs/car.jpg' %}"
      alt="vehicle image"
    />
    {% else %}
    <img
      class="h-80 border border-2 w-full rounded-md object-cover"
      src="{{curr_vehicle.image.url}}"
      alt="vehicle image"
    />
    {% endif %}
    <!--  -->
    <div
      class="h-80 bg-black text-gray-300 text-sm p-6 rounded-md flex flex-col"
    >
      <h4 class="text-white text-xl font-bold flex items-center">
        <!-- <i class="fa-solid fa-car lg:mr-2"></i> -->
        {{curr_vehicle.make}} {{curr_vehicle.model}} {{curr_vehicle.year}}
        <img class="mx-2 h-4" src="{{curr_vehicle.country.flag}}" />
        ({{curr_vehicle.country}})
      </h4>
      <p class="pt-2">Etat : {{curr_vehicle.state}}</p>
      <p class="pt-2">Couleur : {{curr_vehicle.color}}</p>
      <p class="pt-2">Fournisseurs : {{curr_vehicle.supplier}}</p>
      <p class="pt-2">Transmission : {{curr_vehicle.transmission}}</p>
      <p class="pt-2">Immatriculation : {{curr_vehicle.plate_number|upper}}</p>
      <p class="pt-2">Numéro de série (VIN) : {{curr_vehicle.serial_number}}</p>
    </div>
    <!--  -->
    <!-- <div
        class="omni-calculator"
        data-calculator="finance/car-depreciation"
        data-width="300"
        data-config="{}"
        data-currency="XOF"
        data-show-row-controls="false"
        data-version="3"
        data-t="1687332423718"
      >
        <div class="omni-calculator-header">Car Depreciation Calculator</div>
        <div class="omni-calculator-footer">
          <a
            href="https://www.omnicalculator.com/finance/car-depreciation"
            target="_blank"
            ><img
              alt="Omni"
              class="omni-calculator-logo"
              src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg"
          /></a>
        </div>
      </div>
      <script async src="https://cdn.omnicalculator.com/sdk.js"></script> -->
  </div>
</section>

<!--------------------------------------- related stuff --------------------------------------->
<div
  class="mb-4 tabbar mx-auto mb-4 p-1 bg-black rounded-md flex justify-between gap-1 w-full text-sm"
>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'docs')"
    id="defaulttab"
  >
    <i class="fa-solid fa-folder-open lg:mr-2"></i>
    <span class="hidden xl:inline">Documents</span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'payments')"
  >
    <i class="fa-solid fa-arrow-down lg:mr-2"></i>
    <span class="hidden xl:inline">Recettes</span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'expenses')"
  >
    <i class="fa-solid fa-arrow-up lg:mr-2"></i>
    <span class="hidden xl:inline">Dépenses</span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'incidents')"
  >
    <i class="fa-solid fa-burst lg:mr-2"></i>
    <span class="hidden xl:inline">Incidents</span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'stats')"
  >
    <i class="fa-solid fa-chart-pie lg:mr-2"></i>
    <span class="hidden xl:inline">Statistiques</span>
  </button>
</div>
<!--------------------------------------- related documents --------------------------------------->
<section id="docs" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level > 2 %}
  <a
    href="{% url 'create_vdoc' %}"
    class="px-4 py-2 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter un document<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not docs %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %} {% else %}
    <!--------------------------------------- v_docs --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      {% for obj in docs %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_valid %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          <i class="fa-solid fa-check text-white"></i>
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          <i class="fa-solid fa-question text-white"></i>
        </span>
        {% endif %}
        <a href="{% url 'vehicle_doc' obj.id  %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">{{obj.type.name}}</h4>

            <p class="pt-2 text-sm">
              {{obj.issue_date.date}} - {{obj.expiry_date.date}}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- related payments --------------------------------------->
<section id="payments" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level > 2 %}
  <a
    href="{% url 'create_payment' %}"
    class="px-4 py-2 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter un document<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not payments %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %} {% else %}
    <!--------------------------------------- v_docs --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      {% for obj in payments %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_audited %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          <i class="fa-solid fa-check text-white"></i>
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          <i class="fa-solid fa-question text-white"></i>
        </span>
        {% endif %}
        <a href="{% url 'payment' obj.id  %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">{{obj.amount}} CFA</h4>

            <p class="pt-2 text-sm">
              {{obj.vehicle.last_name}} {{obj.vehicle.first_name}}
            </p>
            <p class="pt-2 text-sm">{{obj.date_paid}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- related expenses --------------------------------------->
<section id="expenses" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level > 2 %}
  <a
    href="{% url 'create_payment' %}"
    class="px-4 py-2 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter un document<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not expenses %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %} {% else %}
    <!--------------------------------------- v_docs --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      {% for obj in expenses %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_audited %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          <i class="fa-solid fa-check text-white"></i>
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          <i class="fa-solid fa-question text-white"></i>
        </span>
        {% endif %}
        <a href="{% url 'v_expense' obj.id  %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.title}} à {{obj.amount}} CFA
            </h4>
            <p class="pt-2 text-sm">
              {{obj.vehicle.last_name}} {{obj.vehicle.first_name}}
            </p>
            <p class="pt-2 text-sm">{{obj.date}}, {{obj.time}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- related incidents --------------------------------------->
<section id="incidents" class="tabcontent w-full bg-white p-6 rounded-md">
  {% if user.role.sec_level > 2 %}
  <a
    href="{% url 'create_incident' %}"
    class="px-4 py-2 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Ajouter un document<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not incidents %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %} {% else %}
    <!--------------------------------------- v_docs --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      {% for obj in incidents %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_solved %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          <i class="fa-solid fa-check text-white"></i>
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          <i class="fa-solid fa-question text-white"></i>
        </span>
        {% endif %}

        <a href="{% url 'incident' obj.id  %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">{{obj.title}}</h4>
            <p class="pt-2 text-sm">
              {{obj.vehicle.make}} {{obj.vehicle.model}}
              [-{{obj.vehicle.plate_number|upper}}-]
            </p>
            <p class="pt-2 text-sm">{{obj.date}}, {{obj.time}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- stats --------------------------------------->
<section id="stats" class="tabcontent w-full bg-black p-6 rounded-md">
  <div
    class="text-gray-300 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"
  >
    <div class="p-4 flex flex-col justify-between">
      <h4 class="text-green-500 text-xl font-bold">{{total_revenu}} CFA</h4>
      <p class="mt-2 text-sm">Revenu Brut</p>
    </div>
    <div class="p-4 flex flex-col justify-between">
      <h4 class="text-red-500 text-xl font-bold">{{total_expenses}} CFA</h4>
      <p class="mt-2 text-sm">Dépenses</p>
    </div>
    <div class="p-4 flex flex-col justify-between">
      {% if total_net < 0 %}
      <h4 class="text-red-500 text-xl font-bold">{{total_net}} CFA</h4>
      {% else %}
      <h4 class="text-green-500 text-xl font-bold">{{total_net}} CFA</h4>
      {% endif %}
      <p class="mt-2 text-sm">Revenu Net</p>
    </div>
    <div class="h-40">
      <canvas class="text-gray-200" id="exp_chart"></canvas>
    </div>
  </div>
</section>

{% else %}
<section
  class="mb-4 p-4 lg:p-8 flex gap-4 lg:gap-8 bg-white w-full mx-auto rounded-md text-sm"
>
  <div class="w-full">
    {% if curr_vehicle %}
    <h3 class="mb-4 text-black text-2xl font-bold">Modifier ce véhicule</h3>
    {% else %}
    <h3 class="mb-4 text-black text-2xl font-bold">Nouveau véhicule</h3>
    {% endif %}
    <form
      class="w-full flex flex-col justify-between gap-6"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <!--  -->
      <div
        class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4 text-gray-500"
      >
        {% if user.role.sec_level > 2 %}
        <div>
          <h3 class="mb-1 text-black">{{form.owner.label}}</h3>
          {{form.owner}}
        </div>
        <!--  -->
        <div>
          <h3 class="mb-1 text-black">{{form.first_driver.label}}</h3>
          {{form.first_driver}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.second_driver.label}}</h3>
          {{form.second_driver}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.third_driver.label}}</h3>
          {{form.third_driver}}
        </div>
        {% else %}
        <div class="hidden">
          <h3 class="mb-1 text-black">{{form.owner.label}}</h3>
          {{form.owner}}
        </div>
        {% endif %}
        <!--  -->
        <div>
          <h3 class="mb-1 text-black">{{form.supplier.label}}</h3>
          {{form.supplier}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.make.label}}</h3>
          {{form.make}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.model.label}}</h3>
          {{form.model}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.year.label}}</h3>
          {{form.year}}
        </div>
        <!--  -->
        <div>
          <h3 class="mb-1 text-black">{{form.country.label}}</h3>
          {{form.country}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.plate_number.label}}</h3>
          {{form.plate_number}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.serial_number.label}}</h3>
          {{form.serial_number}}
        </div>
        <!--  -->
        <div>
          <h3 class="mb-1 text-black">{{form.state.label}}</h3>
          {{form.state}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.transmission.label}}</h3>
          {{form.transmission}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.color.label}}</h3>
          {{form.color}}
        </div>
        <!--  -->
        <div>
          <h3 class="mb-1 text-black">{{form.cost.label}}</h3>
          {{form.cost}}
        </div>
        <div>
          <h3 class="mb-1 text-black">{{form.commission.label}}</h3>
          {{form.commission}}
        </div>
      </div>
      <div>
        <h3 class="mb-1 text-black">{{form.image.label}}</h3>
        {{form.image}}
      </div>
      <div class="flex gap-4 items-end">
        <input
          class="px-8 py-2 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-200 px-8 py-2 rounded-md hover:bg-red-700 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
  </div>
  <div class="hidden md:inline rounded-md w-full max-w-[460px] overflow-hidden">
    {% if not curr_vehicle %}
    <img
      class="h-full w-full object-cover"
      src="{% static 'imgs/car.jpg' %}"
      alt="car image"
    />
    {% endif %}
    <!--  -->
    {% if curr_vehicle %}
    <!--  -->
    {% if not curr_vehicle.image %}
    <img
      class="w-full object-cover"
      src="{% static 'imgs/car.jpg' %}"
      alt="driver image"
    />
    {% else %}
    <img
      class="w-full object-cover"
      src="{{curr_vehicle.image.url}}"
      alt="driver image"
    />
    {% endif %}

    <div class="p-4 h-full flex flex-col gap-1 w-full bg-black text-gray-300">
      <h3 class="font-bold text-xl text-white">
        {{curr_vehicle.make}} {{curr_vehicle.model}} {{curr_vehicle.year}}
      </h3>
      <p>
        Matricule
        <tt class="text-red-500"> [--{{curr_vehicle.plate_number}}--]</tt>
      </p>
      <p>
        Transmission
        <tt class="text-amber-300"> [--{{curr_vehicle.transmission}}--]</tt>
      </p>
      <p>
        Proprietaire
        <tt class="text-green-500"
          >[--{{curr_vehicle.owner.last_name}}
          {{curr_vehicle.owner.first_name}}--]
        </tt>
      </p>
    </div>
    {% endif %}
  </div>
</section>

{% endif %}


<script>
  document.getElementById("defaulttab").click();
  function openTab(event, tabName) {
  var i, content, button;
  content = document.getElementsByClassName("tabcontent");
  for (i = 0; i < content.length; i++) {
    content[i].style.display = "none";
  }
  button = document.getElementsByClassName("tabbutton");
  for (i = 0; i < button.length; i++) {
    button[i].className = button[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  event.currentTarget.className += " active";
  }


  // -------------------------------------------------------------
  var ctx = document.getElementById("exp_chart");
  var exp_chart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["Recettes", "Commissions", "Dépenses"],
      datasets: [
        {
          label: "Situation Actuelle",
          data: [
            "{{total_revenu}}",
            "{{total_commission}}",
            "{{total_expenses}}",
          ],
          backgroundColor: [
            "rgb(22 163 74)",
            "rgb(255, 205, 86)",
            "rgb(239 68 68)",
          ],
          borderWidth: 0,
        },
      ],
    },
  });
</script>

{% endblock %}
