{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->

<nav
  class="tabbar mx-auto mb-4 p-1 bg-black rounded-md flex justify-between items-center gap-1 w-full text-sm"
>
  <a
    href="{% url 'finances' %}"
    class="text-white hover:text-amber-300 px-2 transition duration-300 ease-in-out"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'payments')"
    id="defaulttab"
  >
    <i class="fa-solid fa-taxi lg:mr-2"></i>
    <span class="hidden lg:inline"> Encaissements des conducteurs </span>
  </button>
  <button
    class="tabbutton py-1 bg-white hover:bg-black text-black hover:text-white rounded-sm w-full"
    onclick="openTab(event, 'payouts')"
  >
    <i class="fa-solid fa-user lg:mr-2"></i>
    <span class="hidden lg:inline"> Rémunérations des conducteurs </span>
  </button>
  <!--------------------------------------- search form --------------------------------------->
</nav>

<!--------------------------------------- driver expenses --------------------------------------->
<section id="payments" class="tabcontent w-full">
  {% if user.role.sec_level >= 1 %}
  <a
    href="{% url 'create_payment' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Nouvel encaissement<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not payments %}

    <!--------------------------------------- No data placeholder --------------------------------------->
    <div
      class="p-8 my-40 bg-gray-100 max-w-[400px] mx-auto rounded-md flex-col text-center"
    >
      <i class="fa-regular fa-folder-open text-7xl"></i>
      <p class="mt-4">Aucune données disponible pour le moment</p>
    </div>

    {% else %}
    <!--------------------------------------- payments --------------------------------------->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
    >
      {% for obj in payments %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_audited %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Audité
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Non-audité
        </span>
        {% endif %}
        <a href="{% url 'payment' obj.id  %}">
          {% if not obj.image %}
          <img
            class="h-20 w-full object-cover"
            src="{% static 'imgs/income.jpg' %}"
            alt="d_doc image"
          />
          {% else %}
          <img
            class="h-20 w-full object-cover"
            src="{{obj.image.url}}"
            alt="d_doc image"
          />
          {% endif %}
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.title}} ({{obj.amount}} CFA)
            </h4>
            <tt class="mt-2 text-sm font-bold">
              {{obj.driver.last_name}} {{obj.driver.first_name}}
            </tt>
            <p class="mt-2 text-sm">{{obj.date}} - {{obj.time}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<!--------------------------------------- vehicle Paiements --------------------------------------->
<section id="payouts" class="tabcontent w-full">
  {% if user.role.sec_level >= 1 %}
  <a
    href="{% url 'create_payout' %}"
    class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
    >Nouvelle rémunérations<i class="fa-solid fa-plus ml-4"></i
  ></a>
  {% endif %}
  <div class="w-full mx-auto my-8">
    {% if not payouts %}

    <!--------------------------------------- No data placeholder --------------------------------------->
    <div
      class="p-8 my-40 bg-gray-100 max-w-[400px] mx-auto rounded-md flex-col text-center"
    >
      <i class="fa-regular fa-folder-open text-7xl"></i>
      <p class="mt-4">Aucune données disponible pour le moment</p>
    </div>

    {% else %}
    <!--------------------------------------- payouts --------------------------------------->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {% for obj in payouts %}
      <div
        class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_audited %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Audité
        </span>
        {% else %}
        <span
          class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Non-audité
        </span>
        {% endif %}
        <a href="{% url 'payout' obj.id  %}">
          {% if not obj.image %}
          <img
            class="h-20 w-full object-cover"
            src="{% static 'imgs/pay.jpg' %}"
            alt="payouts image"
          />
          {% else %}
          <img
            class="h-20 w-full object-cover"
            src="{{obj.image.url}}"
            alt="payouts image"
          />
          {% endif %}
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.amount}} CFA ({{obj.get_type_display}})
            </h4>
            <tt class="mt-2 text-sm font-bold">
              {{obj.driver.last_name}} {{obj.driver.first_name}}
            </tt>
            <p class="mt-2 text-sm">{{obj.start_date}} - {{obj.end_date}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
<script>
  document.getElementById("defaulttab").click();
function openTab(event, tabName) {
  var i, content, button;
  content = document.getElementsByClassName("tabcontent");
  for (i = 0; i < content.length; i++) {
    content[i].style.display = "none";
  }
  button = document.getElementsByClassName("tabbutton");
  for (i = 0; i < button.length; i++) {
    button[i].className = button[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  event.currentTarget.className += " active";
}
</script>
{% endblock %}
