{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->
<nav
  class="mb-4 mx-auto flex flex-wrap items-center gap-2 items-center text-xs w-full max-w-[1350px]"
>
  {% if not form %}
  <a
    href="{% url 'payments' %}"
    class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
  {% else %}
  <a
    href="{{request.META.HTTP_REFERER}}"
    class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
  {% endif %}
  <!--  -->
  {% if curr_payment %}
  <!--  -->
  {% if not form %}
  <a
    href="{% url 'edit_payment' curr_payment.id %}"
    class="px-4 py-3 bg-black text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Modifier<i class="fa-solid fa-pen-to-square ml-4"></i
  ></a>
  {% endif %}
  <!--  -->
  {% if user.role.sec_level >= 3 %}
  <a
    href="{% url 'delete_payment' curr_payment.id %}"
    id="delete_btn"
    onclick="return confirm('Voulez vous continuer avec la suppression')"
    class="px-4 py-3 bg-black text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Supprimer<i class="fa-solid fa-trash ml-4"></i
  ></a>
  <form action="{% url 'audit_payment' curr_payment.id %}" method="POST">
    {% csrf_token %}
    <!--  -->
    {% if curr_payment.is_audited == False %}
    <input
      type="submit"
      value="Auditer"
      class="px-4 py-3 bg-black text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
    />
    {% else %}
    <input
      type="submit"
      value="Ne pas auditer"
      class="px-4 py-3 bg-black text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
    />
    {% endif %}
  </form>
  {% endif %}
  <!--  -->
  {% endif %}
</nav>

<!--------------------------------------- forms layout --------------------------------------->

{% if not form %}

<section
  class="p-8 bg-white lg:grid grid-cols-2 gap-8 justify-between rounded-md overflow-hidden"
>
  <div class="flex flex-col gap-8 w-full">
    {% if not curr_payment.image %}
    <img
      class="h-80 w-full rounded-md object-cover"
      src="{% static 'imgs/income.jpg' %}"
      alt="vehicle image"
    />
    {% else %}
    <img
      class="h-80 w-full rounded-md object-cover"
      src="{{curr_payment.image.url}}"
      alt="vehicle image"
    />
    {% endif %}
    <!--  -->
    <div class="flex flex-col justify-between">
      <h4 class="text-black text-xl font-bold">
        {{curr_payment.driver.last_name}} {{curr_payment.driver.first_name}}
      </h4>
      <p class="pt-2 font-bold text-green-500">
        Recette: {{curr_payment.amount}} CFA
      </p>
      <!-- <p class="pt-2 font-bold text-sky-500">Distance: 45 KM</p> -->
      <p class="pt-2 text-sm">
        {{curr_payment.date}} ({{curr_payment.start_time}} -
        {{curr_payment.end_time}})
      </p>
      {% if curr_payment.is_audited %}
      <span
        class="right-2 mt-2 px-2 py-1 rounded-md bg-gray-50 text-green-600 text-xs w-40"
      >
        Audité
      </span>
      {% else %}
      <span
        class="right-2 mt-2 px-2 py-1 rounded-md bg-gray-50 text-red-600 text-xs w-40"
      >
        Non-audité
      </span>
      {% endif %}
    </div>
    <!--  -->
  </div>

  <!--------------------------------------- related depenses --------------------------------------->
  {% if rel_payments %}

  <div class="w-full mx-auto rounded-md">
    <h3 class="mb-4 text-black text-lg font-bold">Encaissements connexes</h3>
    {% if not rel_payments %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->
    {% else %}
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
      {% for obj in rel_payments %}
      <div
        class="relative w-[220px] flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        <a href="{% url 'payment' obj.id  %}">
          {% if obj.is_audited %}
          <span
            class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
          >
            Audité
          </span>
          {% else %}
          <span
            class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
          >
            Non-audité
          </span>
          {% endif %}
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">{{obj.amount}} CFA</h4>
            <!-- <p class="mt-2 text-sm">{{obj.vehicle.plate_number}}</p> -->
            <tt class="mt-2 text-sm font-bold">
              {{obj.driver.last_name}} {{obj.driver.first_name}}
            </tt>
            <p class="mt-2 text-sm">{{obj.date}} - {{obj.time}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  {% endif %}
</section>

{% else %}
<!--------------------------------------- payment form -->
<section
  class="p-4 lg:p-8 bg-white md:grid grid-cols-2 gap-4 lg:gap-8 w-full mx-auto rounded-md text-sm"
>
  <div>
    {% if curr_payment %}
    <h3 class="mb-4 text-black text-2xl font-bold">
      Modifier cet encaissement
    </h3>
    {% else %}
    <h3 class="mb-4 text-black text-2xl font-bold">Nouvel encaissement</h3>
    {% endif %}
    <form
      class="w-full flex flex-col justify-between gap-6"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <!--  -->
      <div
        class="flex flex-col md:grid grid-cols-3 lg:grid-cols-2 flex-wrap gap-4"
      >
        {% for field in form %}
        <div>
          <h3 class="mb-1">{{field.label}}</h3>
          {{field}}
        </div>
        {% endfor %}
      </div>
      <div class="flex gap-4 items-end">
        <input
          class="px-8 py-2 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-200 px-8 py-2 rounded-md hover:bg-red-700 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
  </div>
  <div class="rounded-md w-full max-w-[460px] overflow-hidden">
    {% if not curr_payment %}
    <img
      class="h-full w-full object-cover"
      src="{% static 'imgs/income.jpg' %}"
      alt="exp image"
    />
    {% endif %}
    <!--  -->
    {% if curr_payment %}
    <!--  -->
    {% if not curr_payment.image %}
    <img
      class="w-full object-cover"
      src="{% static 'imgs/income.jpg' %}"
      alt="driver image"
    />
    {% else %}
    <img
      class="w-full object-cover"
      src="{{curr_payment.image.url}}"
      alt="driver image"
    />
    {% endif %}

    <div class="p-4 h-full flex flex-col gap-1 w-full bg-black text-gray-300">
      <h3 class="font-bold text-xl text-white">
        {{curr_payment.vehicle.plate_number}}
      </h3>
      <p>
        Montant
        <tt class="text-red-500"> [--{{curr_payment.amount}} CFA--]</tt>
      </p>
      <p>
        Journée du
        <tt class="text-amber-300"> [--{{curr_payment.date}}--]</tt>
      </p>
      <p>
        Période travaillée
        <tt class="text-green-500"
          >[--{{curr_payment.start_time}} - {{curr_payment.end_time}}--]</tt
        >
      </p>
      <p>
        Payé le
        <tt class="text-blue-400"> [--{{curr_payment.date_paid}}--]</tt>
      </p>
    </div>
    {% endif %}
  </div>
</section>

{% endif %} {% endblock %}
