{% if not contacts %}
<div
  class="p-4 flex-col justify-center items-center text-center text-black m-auto"
>
  <i class="fa-solid fa-address-book text-gray-400 text-7xl"></i>
  <p
    class="mt-2 px-4 py-2 w-fit bg-gray-100 rounded-lg text-sm text-center mx-auto"
  >
    Aucun contact disponible
  </p>
</div>
{% else %}
<div class="hidden w-full md:grid grid grid-cols-1 gap-2">
  {% for obj in contacts %}
  <!--  -->
  {% include 'chats/components/contact_card.html' %}
  <!--  -->
  {% endfor %}
</div>
<div class="md:hidden w-full grid grid-cols-1 gap-2">
  {% for obj in contacts %}
  <!--  -->
  {% include 'chats/components/contact_card_alt.html' %}
  <!--  -->
  {% endfor %}
</div>
{% endif %}
