{% load get_last_msg from chats_tags %}

{% if not threads %}
<div class="p-4 flex-col justify-center items-center text-center text-black m-auto">
    <i class="fa-solid fa-comments text-gray-400 text-7xl"></i>
    <p class="mt-2 px-4 py-2 w-fit bg-gray-100 rounded-lg text-sm text-center mx-auto">
        Aucune conversation disponible
    </p>
</div>
{% else %}
<div  id="threads_list"  class="h-100 w-full grid grid grid-cols-1 gap-2">
  {% for obj in threads %}
  <!--  -->
  {% with msg_obj=obj.id|get_last_msg %}
  <!--  -->
  {% if user == msg_obj.sender %}
  <!--  -->
  {% with other_user=msg_obj.receiver %}
      <div class="hidden md:inline">
          {% include 'chats/components/thread_card.html' %}
      </div>
      <div class="md:hidden">
          {% include 'chats/components/thread_card_alt.html' %}
      </div>
  {% endwith %}
  <!--  -->
  {% else %}
  <!--  -->
  {% with other_user=msg_obj.sender %}
      <div class="hidden md:inline">
          {% include 'chats/components/thread_card.html' %}
      </div>
      <div class="md:hidden">
          {% include 'chats/components/thread_card_alt.html' %}
      </div>
  {% endwith %}
  <!--  -->
  {% endif %}
  <!--  -->
  {% endwith %}
  <!--  -->
  {% endfor %}
</div>
{% endif %}
