{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->

<nav
  class="mx-auto flex flex-col md:flex-row justify-between items-center gap-2 items-center text-xs w-full max-w-[1350px]"
>
  <div class="flex gap-2 items-center">
    <a
      href="{{request.META.HTTP_REFERER}}"
      class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      ><i class="fa-solid fa-arrow-left"></i
    ></a>

    {% if user.role.sec_level > 2 %}
    <a
      href="{% url 'create_g_expense' %}"
      class="px-4 py-3 bg-black text-white text-xs hover:bg-amber-300 hover:text-black rounded-md items-center transition duration-300 ease-in-out"
      >Dépenses<i class="fa-solid fa-plus ml-4"></i
    ></a>
    <a
      class="px-4 py-3 bg-black text-white text-xs hover:bg-green-600 rounded-md items-center transition duration-300 ease-in-out"
      href="{% url 'g_expenses_csv' %}"
    >
      <i class="inline fa-solid fa-file-excel lg:mr-2"></i>
      <span class="hidden lg:inline font-base"> Extraire (CSV) </span>
    </a>
    {% endif %}
  </div>
  <!--------------------------------------- search form --------------------------------------->

  {% include 'components/searchbar.html' %}
</nav>

<!--------------------------------------- general Dépenses --------------------------------------->
<section class="w-full mx-auto my-4">
  {% if not expenses %}

  <!--------------------------------------- No data placeholder --------------------------------------->
  {% include 'components/no_data.html' %}
  <!--  -->
  {% else %}
  <!--------------------------------------- expenses --------------------------------------->
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
  >
    {% for obj in expenses %}
    <div
      class="relative flex flex-col border border-2 hover:border-gray-800 bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
    >
      {% if obj.is_audited %}
      <span
        class="absolute top-2 right-2 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >Auditée
      </span>
      {% else %}
      <span
        class="absolute top-2 right-2 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
      >
        Non-auditée
      </span>
      {% endif %}
      <a href="{% url 'g_expense' obj.id  %}">
        {% if not obj.image %}
        <img
          class="h-20 w-full object-cover"
          src="{% static 'imgs/exp.jpg' %}"
          alt="expenses image"
        />
        {% else %}
        <img
          class="h-40 w-full object-cover"
          src="{{obj.image.url}}"
          alt="expenses image"
        />
        {% endif %}
        <div class="p-4 flex flex-col justify-between">
          <h4 class="text-black text-md font-bold">
            {{obj.title}} à {{obj.amount}} CFA
          </h4>
          <p class="pt-2 text-sm">{{obj.date}} - {{obj.time}}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</section>

{% endblock %}
