{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- mini navbar --------------------------------------->
<nav
  class="mb-4 mx-auto flex items-center gap-2 items-center text-xs w-full max-w-[1350px]"
>
  <a
    href="{{request.META.HTTP_REFERER}}"
    class="px-4 py-3 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
  {% if curr_expense and not form %}
  <a
    href="{% url 'edit_d_expense' curr_expense.id %}"
    class="px-4 py-3 bg-black text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Modifier<i class="fa-solid fa-pen-to-square ml-4"></i
  ></a>
  <a
    href="{% url 'delete_d_expense' curr_expense.id %}"
    class="px-4 py-3 bg-black text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out"
    >Supprimer<i class="fa-solid fa-trash ml-4"></i
  ></a>
  {% endif %}
</nav>

<!--------------------------------------- forms layout --------------------------------------->

{% if not form %}

<section
  class="p-8 bg-white lg:grid grid-cols-2 gap-4 justify-between rounded-md overflow-hidden"
>
  <div class="flex flex-col gap-4 w-full">
    <div class="relative">
      {% if not curr_expense.image %}
      <img
        class="h-80 w-full rounded-md object-cover"
        src="{% static 'imgs/exp.jpg' %}"
        alt="vehicle image"
      />
      {% else %}
      <img
        class="h-80 w-full rounded-md object-cover"
        src="{{curr_expense.image.url}}"
        alt="vehicle image"
      />
      {% endif %}
      <!--  -->
      {% if obj.is_audited %}
      <span
        class="absolute top-4 right-4 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
      >
        Audité
      </span>
      {% else %}
      <span
        class="absolute top-4 right-4 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
      >
        Non-audité
      </span>
      {% endif %}
    </div>
    <div class="flex flex-col justify-between">
      <h4 class="text-black text-md font-bold">
        {{curr_expense.title}} à {{curr_expense.amount}} CFA
      </h4>
      <p class="pt-2 text-sm">{{curr_expense.date}} - {{curr_expense.time}}</p>
      <p class="pt-2 text-sm">{{curr_expense.details}}</p>
    </div>
    <!--  -->
  </div>

  <!--------------------------------------- related exepenses --------------------------------------->

  <div class="w-full mx-auto rounded-md">
    <h3 class="mb-4 text-black text-lg font-bold">Depenses connexes</h3>
    {% if not rel_expenses %}
    <!--------------------------------------- No data placeholder --------------------------------------->
    {% include 'components/no_data.html' %}
    <!--  -->
    {% else %}
    <div class="flex flex-row flex-wrap gap-4">
      {% for obj in rel_expenses %}
      <div
        class="relative flex flex-col border border-2 hover:border-black bg-white rounded-md transition duration-300 ease-in-out overflow-hidden"
      >
        {% if obj.is_audited %}
        <span
          class="absolute top-4 right-4 px-2 py-1 rounded-md bg-green-600 text-xs text-white"
        >
          Audité
        </span>
        {% else %}
        <span
          class="absolute top-4 right-4 px-2 py-1 rounded-md bg-red-600 text-xs text-white"
        >
          Non-audité
        </span>
        {% endif %}
        <a href="{% url 'g_expense' obj.id  %}">
          <div class="p-4 flex flex-col justify-between">
            <h4 class="text-black text-md font-bold">
              {{obj.title}} à {{obj.amount}} CFA
            </h4>
            <p class="pt-2 text-sm">{{obj.date}} - {{obj.time}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

{% else %}
<!--------------------------------------- expense form -->
<section class="my-4 p-4 lg:p-8 bg-white w-full mx-auto rounded-md text-sm">
  <h3 class="mb-4 text-black text-2xl font-bold">
    Formulaire de dépense de la compagnie
  </h3>
  <form
    class="w-full flex flex-col justify-between gap-6"
    method="POST"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <!--  -->
    <div
      class="flex flex-col md:grid grid-cols-3 lg:grid-cols-4 flex-wrap gap-4"
    >
      <div>
        <h3 class="mb-1">{{form.title.label}}</h3>
        {{form.title}}
      </div>
      <div>
        <h3 class="mb-1">{{form.amount.label}}</h3>
        {{form.amount}}
      </div>
      <div>
        <h3 class="mb-1">{{form.date.label}}</h3>
        {{form.date}}
      </div>
      <div>
        <h3 class="mb-1">{{form.time.label}}</h3>
        {{form.time}}
      </div>
      <div>
        <h3 class="mb-1">{{form.is_audited.label}}</h3>
        {{form.is_audited}}
      </div>
      <div>
        <h3 class="mb-1">{{form.receit.label}}</h3>
        {{form.receit}}
      </div>
    </div>
    <div>
      <h3 class="mb-1">{{form.details.label}}</h3>
      {{form.details}}
    </div>
    <div class="my-4 flex gap-4 items-end">
      <input
        class="px-8 py-2 bg-black text-white hover:bg-yellow-400 hover:text-black rounded-md cursor-pointer"
        type="submit"
        value="Enregistrer"
      />
      <a
        class="bg-gray-200 px-8 py-2 rounded-md hover:bg-red-700 hover:text-white"
        href="{{request.META.HTTP_REFERER}}"
      >
        Annuler
      </a>
    </div>
  </form>
</section>

{% endif %} {% endblock %}
